<section class="content-header">
    <h1>
        <i class="fa fa-file-pdf-o"></i> {{phrase.Assignments}}
    </h1>
</section>


<section class="content" ng-show="views.list">
    <a ng-if="userRole == 'admin' || userRole == 'teacher'" ng-click="changeView('add')" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">{{phrase.AddAssignments}}</a>
<!--   <div class="btn-group pull-right no-print">
        <button type="button" class="btn btn-success btn-flat">{{phrase.Export}}</button>
        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{phrase.toggleDropdown}}</span>
        </button>
        <ul class="dropdown-menu" role="menu">
             <li><a href="assignments/export">{{phrase.ExportExcel}}</a></li>
        </ul>
    </div>-->
    <a href="javascript:window.print()" class="floatRTL btn btn-success btn-flat pull-right marginBottom15 no-print">{{phrase.Print}}</a> 
    
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.listAssignments}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>{{phrase.ID}}</th>
                        <th>{{phrase.AssignmentTitle}}</th>
                        <th>{{phrase.AssignmentDescription}}</th>
                        <th>{{phrase.class}}</th>
                        <th>{{phrase.section}}</th>
                        <th>{{phrase.subject}}</th>
                        <th>{{phrase.AssignDate}}</th>
                        <th>{{phrase.AssignmentDeadline}}</th>
                        <th> {{phrase.assignmentAuthor}}</th>
                        <th> {{phrase.AssignmentLink}}</th>
                        <th class="no-print">{{phrase.Operations}}</th>
                    </tr>
                    <tr ng-repeat="assignment in assignments| filter:searchText | orderBy:'-id'">
                        <td>{{assignment.id}}</td>
                        <td>{{assignment.AssignTitle}}</td>
                        <!--<td>{{assignment.AssignDescription}}</td>-->
                        <td ng-bind-html="trustAsHtml(assignment.AssignDescription)"></td>  
                        <td>{{assignment.classes}}</td>
                        <td>{{assignment.sections}}</td>
                        <td>{{assignment.subject}}</td>
                        <td>{{assignment.AssignDate * 1000| date:$root.angDateFormat}}</td>
                        <td>{{assignment.AssignDeadLine * 1000| date:$root.angDateFormat}}</td>
                        <td>{{assignment.assignmentAuthor}}</td>
                        <td>
                            <a ng-show="assignment.assignment_link != ''" href="{{assignment.assignment_link}}" target="_blank">Assignment Link</a></td>
                        <td>
                        <td class="no-print">
                            <a target="_blank" href="{{'assignments/download/' + assignment.id}}" type="button" class="btn btn-info btn-flat" title="{{phrase.Download}}" tooltip><i class="fa fa-cloud-download"></i></a>
                            <a ng-if="userRole == 'admin' || userRole == 'teacher'" ng-click="listAnswers(assignment.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.viewAnswers}}" tooltip><i class="fa fa-check"></i></a>
                            <a ng-if="userRole == 'student'" ng-click="upload(assignment.id)" type="button" class="btn btn-info btn-flat" title="Upload answer" tooltip><i class="fa fa-upload"></i></a>
                            <a ng-if="(userRole == 'admin') || (userRole == 'teacher' && userid == assignment.teacherId)" ng-click="edit(assignment.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.Edit}}" tooltip><i class="fa fa-pencil"></i></a>
                            <a ng-if="(userRole == 'admin') || (userRole == 'teacher' && userid == assignment.teacherId)" ng-click="remove(assignment, $index)" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr ng-show="assignments.length == '0'"><td class="noTableData" colspan="5">{{phrase.noAssignments}}</td></tr>
                </tbody></table>
        </div>
    </div>
</section>

<section class="content" ng-show="views.add">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelAdd}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.AddAssignments}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="addDorm" role="form" ng-upload="saveAdd(content)" method="post" action="assignments" novalidate>
                <div class="form-group" ng-class="{'has-error': addDorm.AssignTitle.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.AssignmentTitle}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="AssignTitle" ng-model="form.AssignTitle" class="form-control" required placeholder="{{phrase.AssignmentTitle}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.AssignmentDescription}}</label>
                    <div class="col-sm-10">
                        <textarea ck-editor name="AssignDescription" class="form-control" ng-model="form.AssignDescription" placeholder="{{phrase.AssignmentDescription}}"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addDorm.AssignDeadLine.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.AssignmentDeadline}} *</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="AssignDeadLine" ng-model="form.AssignDeadLine" required class="form-control datemask">
                    </div>
                </div>
                <div date-picker selector=".datemask" ></div>
                <div class="form-group" ng-class="{'has-error': addDorm.AssignDate.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.AssignDate}} *</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="AssignDate" ng-model="form.AssignDate" required class="form-control datemask">
                    </div>
                </div>
                <div date-picker selector=".datemask" ></div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.AssignmentFile}}</label>
                    <div class="col-sm-10">
                        <input type="file" name="AssignFile" id="AssignAddFile">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.AssignmentLink}}  </label>
                    <div class="col-sm-10">
                        <input type="text" name="assignment_link" ng-model="form.assignment_link" class="form-control"  placeholder="{{phrase.AssignmentLink}}">
                    </div>
                </div>
                <!--                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.assignmentAuthor}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="assignmentAuthor" ng-model="form.assignmentAuthor" class="form-control" placeholder="{{phrase.assignmentAuthor}}">
                                    </div>
                                </div>-->
                <div class="form-group" ng-class="{'has-error': addDorm['classId[]'].$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.classId" name="classId[]" ng-change="subjectList()" multiple required>
                            <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addDorm['sectionId[]'].$invalid}" >
                    <label for="inputPassword3" class="col-sm-2 control-label">Section *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.sectionId" name="sectionId[]" multiple required>
                            <option ng-repeat="section in sections" value="{{section.id}}">{{section.sectionName}} </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addDorm.subjectId.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Subject}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.subjectId" required name="subjectId">
                            <option ng-repeat="subjectOne in subject" value="{{subjectOne.id}}">{{subjectOne.subjectTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                        <button type="submit" class="btn btn-default" ng-disabled="addDorm.$invalid">{{phrase.AddAssignments}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content" ng-show="views.edit">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelEdit}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.editAssignment}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="editDorm" role="form"  ng-upload="saveEdit(content)" role="form" method="post" action="{{'assignments/' + form.id}}" novalidate>
                <div class="form-group" ng-class="{'has-error': editDorm.AssignTitle.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.AssignmentTitle}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="AssignTitle" ng-model="form.AssignTitle" class="form-control" required placeholder="{{phrase.AssignmentTitle}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.AssignmentDescription}}</label>
                    <div class="col-sm-10">
                        <textarea ck-editor name="AssignDescription" class="form-control" ng-model="form.AssignDescription" placeholder="{{phrase.AssignmentDescription}}"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editDorm.AssignDeadLine.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.AssignmentDeadline}} *</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="AssignDeadLine" ng-model="form.AssignDeadLine" required class="form-control datemask">
                    </div>
                </div>
                <div date-picker selector=".datemask" ></div>
                <div class="form-group" ng-class="{'has-error': addDorm.AssignDate.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.AssignDate}} *</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="AssignDate" ng-model="form.AssignDate" required class="form-control datemask">
                    </div>
                </div>
                <div date-picker selector=".datemask" ></div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.AssignmentFile}}</label>
                    <div class="col-sm-10">
                        <input type="file" name="AssignFile" id="AssignEditFile">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.AssignmentLink}}  </label>
                    <div class="col-sm-10">
                        <input type="text" name="assignment_link" ng-model="form.assignment_link" class="form-control"  placeholder="{{phrase.AssignmentLink}}">
                    </div>
                </div>
                <!--                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.assignmentAuthor}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="assignmentAuthor" ng-model="form.assignmentAuthor" class="form-control" placeholder="{{phrase.assignmentAuthor}}">
                                    </div>
                                </div>-->
                <div class="form-group" ng-class="{'has-error': editDorm['classId[]'].$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.classId" name="classId[]"  ng-change="subjectList()" id="editClassId" multiple required>
                            <option ng-repeat="class in classes" value="{{class.id}}" ng-selected="isSectionSelected(form.classId, class.id)">{{class.className}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editDorm['sectionId[]'].$invalid}" >
                    <label for="inputPassword3" class="col-sm-2 control-label">Section *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.sectionId" name="sectionId[]" multiple required>
                            <option ng-repeat="section in form.sections" value="{{section.id}}" ng-selected="isSectionSelected(form.sectionId, section.id)">{{section.sectionName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editDorm.subjectId.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Subject}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.subjectId" required name="subjectId">
                            <option ng-repeat="subjectOne in form.subject" value="{{subjectOne.id}}" ng-selected="subjectOne.id == form.subjectId">{{subjectOne.subjectTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                        <button type="submit" class="btn btn-default" ng-disabled="editDorm.$invalid">{{phrase.editAssignment}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content" ng-show="views.upload">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.uploadAnswer}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="uploadDorm" role="form" ng-upload="saveAnswer(content)" method="post" action="{{'assignments/upload/' + form.assignmentId}}" novalidate>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.userNotes}}</label>
                    <div class="col-sm-10">
                        <textarea name="userNotes" class="form-control" ng-model="form.AssignDescription" userNotes="Answers notes"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.answerFile}}</label>
                    <div class="col-sm-10">
                        <input type="file" name="fileName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                        <button type="submit" class="btn btn-default" ng-disabled="uploadDorm.$invalid">{{phrase.uploadAnswer}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content" ng-show="views.answers">
    <a ng-click="changeView('list')" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.viewAnswers}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>{{phrase.studentName}}</th>
                        <th>{{phrase.class}}</th>
                        <th>{{phrase.timeApplied}}</th>
                        <th>{{phrase.notes}}</th>
                        <th>{{phrase.Operations}}</th>
                    </tr>
                    <tr ng-repeat="answer in answers| filter:searchText">
                        <td>
                            <img alt="{{answer.fullName}}" class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{'dashboard/profileImage/' + answer.userId}}">
                            {{answer.fullName}}
                        </td>
                        <td>{{answer.className}}</td>
                        <td>{{answer.userTime * 1000| date:'medium'}}</td>
                        <td>{{answer.userNotes}}</td>
                        <td>
                            <a target="_blank" href="{{'assignments/downloadAnswer/' + answer.id}}" type="button" class="btn btn-info btn-flat" title="{{phrase.Download}}" tooltip><i class="fa fa-cloud-download"></i></a>
                        </td>
                    </tr>
                    <tr ng-show="assignments.length == '0'"><td class="noTableData" colspan="5">{{phrase.noAssignments}}</td></tr>
                </tbody></table>
        </div>
    </div>
</section>
