<section class="content-header">
    <h1>
        <i class="fa fa-dashboard"></i> {{phrase.dashboard}}
    </h1>
</section>

<section class="content">
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12" ng-show="dashboardData.role == 'teacher'">
            <div class="info-box bg-aqua reportsDiv">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{dashboardData.stats.classes}}</span>
                    <span class="progress-description">{{phrase.classes}}</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
        <!---->
        <div class="col-md-3 col-sm-6 col-xs-12" ng-show="dashboardData.role == 'admin'">
            <div class="info-box bg-aqua reportsDiv">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{dashboardData.stats.students}}</span>
                    <span class="progress-description">{{phrase.students}}</span>
                </div>  <!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12" ng-show="dashboardData.role == 'admin'">
            <div class="info-box bg-aqua reportsDiv">
                <span class="info-box-icon"><i class="fa fa-suitcase"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{dashboardData.stats.teachers}}</span>
                    <span class="progress-description">{{phrase.teachers}}</span>
                </div>  <!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#events"><div class="info-box bg-yellow reportsDiv">
                    <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{dashboardData.stats.events}}</span>
                        <span class="progress-description">{{phrase.events}}</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12" ng-show="dashboardData.role != 'admin'">
            <a href="#newsboard">  <div class="info-box bg-green reportsDiv">
                    <span class="info-box-icon"><i class="fa fa-bullhorn"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{dashboardData.stats.newsboard}}</span>
                        <span class="progress-description">{{phrase.newsboard}}</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-red reportsDiv">
                <span class="info-box-icon"><i class="fa fa-inbox"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{dashboardData.stats.newMessages}}</span>
                    <span class="progress-description">{{phrase.Messages}}</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
 <div class="col-md-3 col-sm-6 col-xs-12" ng-show="dashboardData.role == 'student' || dashboardData.role == 'parent'">
            <a href="#mailsms">  <div class="info-box bg-green reportsDiv">
                    <span class="info-box-icon"><i class="fa fa-bullhorn"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{dashboardData.stats.mailsms}}</span>
                        <span class="progress-description">{{phrase.mailsms}}</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </a>
        </div
    </div>

    <div class="row">
        <section class="col-lg-7 connectedSortable">


            <div class="row">
                <div class="col-lg-6 connectedSortable">

                    <div class="box box-danger">
                        <div class="box-header">
                            <i class="fa fa-trophy"></i>
                            <h3 class="box-title">{{phrase.studentLeaderboard}}</h3>
                        </div>
                        <div class="box-body">
                            <ul class="users-list clearfix">
                                <li ng-repeat="student in dashboardData.studentLeaderBoard">
                                    <img alt="{{student.fullName}}" class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{'dashboard/profileImage/' + student.id}}">
                                    <a class="users-list-name">{{student.fullName}}</a>
                                    <span class="users-list-date">{{student.isLeaderBoard}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 connectedSortable">

                    <div class="box box-danger">
                        <div class="box-header">
                            <i class="fa fa-trophy"></i>
                            <h3 class="box-title">{{phrase.teacherLeaderboard}}</h3>
                        </div>
                        <div class="box-body">
                            <ul class="users-list clearfix">
                                <li ng-repeat="student in dashboardData.teacherLeaderBoard">
                                    <img alt="{{student.fullName}}" class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{'dashboard/profileImage/' + student.id}}">
                                    <a class="users-list-name">{{student.fullName}}</a>
                                    <span class="users-list-date">{{student.isLeaderBoard}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-hand-o-up"></i>
                    <h3 class="box-title">{{phrase.quicklinks}}</h3>
                </div>
                <div class="box-body" ng-show="dashboardData.role == 'admin'">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-6"><a href="#newsboard" class="btn btn-block btn-success"> {{phrase.newsboard}} </a></div>
                        <div class="col-md-6"><a href="#events" class="btn btn-block btn-success"> {{phrase.events}} </a></div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-6"><a href="#classschedule" class="btn btn-block btn-success"> {{phrase.ClassSchedule}} </a></div>
                        <div class="col-md-6"><a href="#mailsms" class="btn btn-block btn-success"> {{phrase.mailsms}}</a></div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-6"><a href="#staffAttendance" class="btn btn-block btn-success"> {{phrase.staffAttendance}} </a></div>
                        <div class="col-md-6"><a href="#attendance" class="btn btn-block btn-success"> {{phrase.Attendance}}</a></div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-6"><a href="#reports" class="btn btn-block btn-success"> {{phrase.Reports}} </a></div>
                        <div class="col-md-6"><a href="#settings" class="btn btn-block btn-success"> {{phrase.generalSettings}}</a></div>
                    </div>
                </div>

                <div class="box-body" ng-show="dashboardData.role == 'teacher'">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-6" ng-show="dashboardData.setting_forTeacher.fieldValue == '1'"><a href="#attendance" class="btn btn-block btn-success"> {{phrase.Attendance}} </a></div>
                        <div class="col-md-6"><a href="#examsList" class="btn btn-block btn-success"> {{phrase.examsList}} </a></div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-6"><a href="#assignments" class="btn btn-block btn-success"> {{phrase.Assignments}} </a></div>
                        <div class="col-md-6"><a href="#onlineExams" class="btn btn-block btn-success"> {{phrase.Onlineexams}} </a></div>
                    </div>
                </div>

                <div class="box-body" ng-show="dashboardData.role == 'student'">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-4">
                            <a href="#assignments" class="btn btn-block btn-success"> {{phrase.Assignments}}({{dashboardData.stats.mob_assign}})  </a>
                            <!-- <div class="col-md-1">
                                <a href="#assignments" class="btn btn-block btn-danger" style="    padding-left: 10px;
    padding-top: 2px;
    margin-top: -30px;
      margin-left: 134px;
    height: 27px;
    width: 33px;
    border-radius: 14px;"> {{dashboardData.stats.mob_assign}} </a>
                            </div> -->
                        </div>
                        <div class="col-md-4">
                            <a href="#onlineExams" class="btn btn-block btn-success"> {{phrase.Onlineexams}}({{dashboardData.stats.mob_onlin_ex}}) </a>
                            <!-- <div class="col-md-1">
                                <a href="#onlineExams" class="btn btn-block btn-danger" style="padding-left: 10px;
    padding-top: 2px;
    margin-top: -30px;
    margin-left: 134px;
    height: 27px;
    width: 33px;
    border-radius: 14px;"> {{dashboardData.stats.mob_onlin_ex}} </a>
                            </div> -->
                        </div>
                        <div class="col-md-4">
                            <a href="#materials" class="btn btn-block btn-success"> {{phrase.studyMaterial}}({{dashboardData.stats.mob_lesson}})</a>
                            <!-- <div class="col-md-1">
                                <a href="#materials" class="btn btn-block btn-danger" style="padding-left: 10px;
    padding-top: 2px;
    margin-top: -30px;
    margin-left: 134px;
    height: 27px;
    width: 33px;
    border-radius: 14px;"> {{dashboardData.stats.mob_lesson}} </a>
                            </div> -->
                        </div>

                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-4"><a href="#classschedule" class="btn btn-block btn-success"> {{phrase.ClassSchedule}} </a></div>
                        <div class="col-md-4"><a href="#examsList" class="btn btn-block btn-success"> {{phrase.examsList}} </a></div>
                        <div class="col-md-4"><a href="#attendanceStats" class="btn btn-block btn-success"> {{phrase.Attendance}} </a></div>
                    </div>

                </div>

                <div class="box-body" ng-show="dashboardData.role == 'parent'">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-4"><a href="#students" class="btn btn-block btn-success"> {{phrase.students}} </a></div>
                        <div class="col-md-4"><a href="#examsList" class="btn btn-block btn-success"> {{phrase.examsList}} </a></div>
                        <div class="col-md-4"><a href="#attendanceStats" class="btn btn-block btn-success"> {{phrase.Attendance}} </a></div>
                    </div>
                </div>
            </div>

            <div class="box box-warning" ng-show="dashboardData.role == 'student'">
                <div class="box-header">
                    <i class="fa fa-clock-o"></i>
                    <h3 class="box-title">{{phrase.Attendance}}</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody><tr>
                                <th>{{phrase.Date}}</th>
                                <th ng-show="dashboardData.attendanceModel == 'subject'">{{phrase.Subject}}</th>
                                <th>{{phrase.Attendance}}</th>
                            </tr>
                            <tr ng-repeat="(key,value) in dashboardData.studentAttendance">
                                <td>{{value.date * 1000| date:$root.angDateFormat}}</td>
                                <td ng-show="dashboardData.attendanceModel == 'subject'">{{value.subject}}</td>
                                <td>
                                    <div>
                                        <span ng-show="value.status == '0'">{{phrase.Absent}}</span>
                                        <span ng-show="value.status == '1'">{{phrase.Present}}</span>
                                        <span ng-show="value.status == '2'">{{phrase.Late}}</span>
                                        <span ng-show="value.status == '3'">{{phrase.LateExecuse}}</span>
                                        <span ng-show="value.status == '4'">{{phrase.earlyDismissal}}</span>
                                        <span ng-show="value.status == '9'">{{phrase.acceptedVacation}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
<div class="box box-warning" ng-show="dashboardData.role == 'parent' ">
                <div class="box-header">
                    <i class="fa fa-clock-o"></i>
                    <h3 class="box-title">{{phrase.NewsEvents}}</h3>
                </div>
                <div class="box-body">
                    <ul class="todo-list">
                        <li ng-repeat="item in dashboardData.newsEvents">
                            <small class="label label-danger">{{item.type}}</small>
                            <span ng-if="item.type == 'news'" class="text"><a href="#newsboard/{{item.id}}">{{item.title}}</a></span>
                            <span ng-if="item.type == 'event'" class="text"><a href="#events/{{item.id}}">{{item.title}}</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box box-warning" ng-show="dashboardData.role == 'parent'">
                <div class="box-header">
                    <i class="fa fa-clock-o"></i>
                    <h3 class="box-title">{{phrase.Attendance}}</h3>
                </div>
                <div class="box-body">
                    <div ng-repeat="(key, value) in dashboardData.studentAttendance" class="box col-xs-12">
                        <div class="box-header">
                            <h3 class="box-title">{{value.n.name}}</h3>
                        </div>
                        <div class="box-body table-responsive">
                            <table class="table table-bordered">
                                <tbody><tr>
                                        <th>{{phrase.Date}}</th>
                                        <th>{{phrase.Attendance}}</th>
                                    </tr>
                                    <tr ng-repeat="(key2,value2) in value.d">
                                        <td>{{value2.date * 1000| date:$root.angDateFormat}}</td>
                                        <td>
                                            <div>
                                                <span ng-show="value2.status == '0'">{{phrase.Absent}}</span>
                                                <span ng-show="value2.status == '1'">{{phrase.Present}}</span>
                                                <span ng-show="value2.status == '2'">{{phrase.Late}}</span>
                                                <span ng-show="value2.status == '3'">{{phrase.LateExecuse}}</span>
                                                <span ng-show="value2.status == '4'">{{phrase.earlyDismissal}}</span>
                                                <span ng-show="value2.status == '9'">{{phrase.acceptedVacation}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-warning" ng-show="dashboardData.role == 'admin' || dashboardData.role == 'student' || dashboardData.role == 'teacher'">
                <div class="box-header">
                    <i class="fa fa-clock-o"></i>
                    <h3 class="box-title">{{phrase.NewsEvents}}</h3>
                </div>
                <div class="box-body">
                    <ul class="todo-list">
                        <li ng-repeat="item in dashboardData.newsEvents">
                            <small class="label label-danger">{{item.type}}</small>
                            <span ng-if="item.type == 'news'" class="text"><a href="#newsboard/{{item.id}}">{{item.title}}</a></span>
                            <span ng-if="item.type == 'event'" class="text"><a href="#events/{{item.id}}">{{item.title}}</a></span>
                        </li>
                    </ul>
                </div>
            </div>



        </section>
        <section class="col-lg-5 connectedSortable">
            <div class="box box-warning direct-chat direct-chat-warning">
                <div class="box-header with-border">
                    <i class="fa fa-envelope"></i>
                    <h3 class="box-title">{{phrase.Messages}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">

                        <div class="direct-chat-msg" ng-repeat="message in dashboardData.messages">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">{{message.fullName}}</span>
                                <span class="direct-chat-timestamp pull-right"> {{message.lastMessageDate * 1000| date:$root.angDateFormat}}</span>
                            </div><!-- /.direct-chat-info -->
                            <a href="#messages/{{message.id}}">
                                <img alt="{{message.fullName}}" class="direct-chat-img" ng-src="{{'dashboard/profileImage/' + message.userId}}">
                                <div class="direct-chat-text">
                                    {{message.lastMessage}}
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
            <div ng-show="dashboardData.polls" class="box box-info rtlPage">
                <div class="box-header">
                    <i class="fa fa-tasks"></i>
                    <h3 class="box-title">{{dashboardData.polls.title}}</h3>
                </div>
                <div class="box-body">
                    <div class="form-group" ng-show="dashboardData.polls.view == 'vote'">
                        <div ng-repeat="value in dashboardData.polls.items" class="radio">
                            <label>
                                <input type="radio" ng-model="dashboardData.polls.selected" value="{{value.title}}">{{value.title}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-show="dashboardData.polls.view == 'results'">
                        <div ng-repeat="value in dashboardData.polls.items" class="radio">
                            {{value.title}}
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{value.perc}}%"></div>
                            </div>
                        </div>
                        <div class="text-center">{{phrase.totalVotes}} : {{dashboardData.polls.totalCount}}</div>
                    </div>
                </div>
                <div ng-if="!dashboardData.polls.voted" class="box-footer clearfix">
                    <button ng-click="dashboardData.polls.view = 'vote'" ng-show="dashboardData.polls.view == 'results'" type="button" class="pull-right btn btn-flat btn-info">{{phrase.Return}}</button>
                    <button ng-click="dashboardData.polls.view = 'results'" ng-show="dashboardData.polls.view == 'vote'" type="button" class="pull-right btn btn-flat btn-info">{{phrase.votes}}</button>
                    <button ng-show="dashboardData.polls.view == 'vote'" ng-click="savePollVote()" ng-disabled="!dashboardData.polls.selected" class="pull-right btn btn-flat btn-info">{{phrase.votePoll}}</button>
                </div>
            </div>

            <div class="box box-solid bg-green-gradient">
                <div class="box-header">
                    <i class="fa fa-calendar"></i>
                    <h3 class="box-title">{{phrase.Calendar}}</h3>
                </div>
                <div class="box-body">
                    <div id="scalendar" scalendar-box style="width: 100%"></div>
                </div>
            </div>
        </section>
    </div>
</section>
