<section class="content-header">
    <h1>
        <i class="fa fa-send"></i> {{phrase.mailsms}}
    </h1>
</section>

<section class="content" ng-show="views.send"  >
    <a ng-click="getSents()" class="floatRTL btn btn-success btn-flat pull-right marginBottom15" >{{phrase.listSentMessages}}</a>
    <a ng-click="getinbox()" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">Inbox messages</a>
    <div class="box col-xs-12" ng-hide="userRole == 'student' ||userRole == 'parent'">
        <div class="box-header">
            <h3 class="box-title">{{phrase.selUsers}}</h3>
        </div>
        <div class="box-body table-responsive" >
            <form class="form-horizontal" ng-submit="saveAdd()" name="mailsms" novalidate>
                <div class="form-group" ng-class="{'has-error': mailsms.userType.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.typeUsers}} *</label>
                    <div class="col-sm-10">
                        <div class="radio"  ng-hide="userRole == 'teacher'">
                            <label>
                                <input type="radio" name="userType" value="teachers" ng-model="form.userType" required ng-checked='true'>
                                {{phrase.teachers}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="userType" value="students" ng-model="form.userType" required >
                                {{phrase.students}}
                            </label>
                        </div>
                        <div class="radio" ng-hide="userRole == 'parent'">
                            <label>
                                <input type="radio" name="userType" value="parents" ng-model="form.userType" required >
                                {{phrase.parents}}
                            </label>
                        </div>
                        <div class="radio" ng-hide="userRole == 'parent'">
                            <label>
                                <input type="radio" name="userType" value="users" ng-model="form.userType" required >
                                {{phrase.specificUsers}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="form.userType == 'students' || form.userType == 'parents'">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.classId" name="classId" ng-change="subjectList(); studentList();" >
                            <option value="0">{{phrase.all}}</option>
                            <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="form.userType == 'students' || form.userType == 'parents'">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.section}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.sectionId" name="sectionId"  ng-change="studentList();">
                            <option value="0">{{phrase.all}}</option>
                            <option ng-repeat="section in sections" value="{{section.id}}">{{section.sectionName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="form.userType == 'teachers'">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.subject}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.subjectId" name="subjectId" ng-change="teacherList();" >
                            <option value="0">{{phrase.all}}</option>
                            <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subjectTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group"  ng-show="form.userType == 'students' || form.userType == 'parents'">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.student}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.student" name="student" multiple >
                            <option ng-repeat="student in students" value="{{student.id}}">{{student.fullName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group"  ng-show="form.userType == 'teachers'">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.classTeacher}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.classTeacher" name="classTeacher" multiple >
                            <option ng-repeat="teacher in teachers" value="{{teacher.id}}">{{teacher.fullName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="form.userType == 'users'">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.selUsers}} *</label>
                    <div class="col-sm-10">

                        <a type="button" ng-click="linkUsers('all')" class="btn btn-danger btn-flat">{{phrase.selUsers}}</a>
                        <div class="row" ng-repeat="userOne in form.selectedUsers track by $index">
                            <div class="col-xs-8"><input type="text" class="form-control" disabled="disabled" ng-model="userOne.student"></div>
                            <a type="button" ng-click="removeUser(userOne.id)" class="btn btn-danger btn-flat"><i class="fa fa-trash-o"></i></a></li>
                        </div>

                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': mailsms.sendForm.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.sendAs}} *</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="sendForm" value="email" ng-model="form.sendForm" required ng-checked='true'>
                                {{phrase.email}}
                            </label>
                        </div>
                        <!--            <div class="radio">
                                        <label>
                                            <input type="radio" name="sendForm" value="sms" ng-model="form.sendForm" required >
                                            {{phrase.sms}}
                                        </label>
                                    </div>-->
<!--                        <div ng-show="userRole == 'admin'" >
                            <label>
                                <a target="_blank" href="http://sms.masrbokra.com/">MasrBokra Link</a>

                            </label>
                        </div>-->
                    </div>
                </div>
                <div class="form-group" ng-show="form.sendForm == 'email'">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.messageTitle}} *</label>
                    <div class="col-sm-10">
                        <input type="text" name="messageTitle" ng-model="form.messageTitle" class="form-control" placeholder="{{phrase.messageTitle}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': mailsms.messageContent.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.messageContent}} *</label>
                    <div class="col-sm-10">
                        <textarea  ck-editor name="messageContent" class="form-control" ng-model="form.messageContent" required placeholder="{{phrase.messageContent}}"></textarea>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': mailsms.flagreply.$invalid}" style="display: none;">
                    <label for="inputPassword3" class="col-sm-2 control-label">Check For Reply *</label>
                    <div class="col-sm-10">
                        <div class="checkbox" >
                            <label>
                                <input  type="checkbox" name="flagreply" value="1" ng-model="form.flagreply">
                                
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-disabled="mailsms.$invalid">{{phrase.mailSMSSend}}</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
<section class="content" ng-show="views.reply">
    <a ng-click="getSents()" class="floatRTL btn btn-success btn-flat pull-right marginBottom15" ng-hide="userRole == 'student'">{{phrase.listSentMessages}}</a>
    <a ng-click="getinbox()" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">Inbox messages</a>
    <div class="box col-xs-12" ng-hide="userRole == 'student'">
        <div class="box-header">
            <h3 class="box-title">{{phrase.selUsers}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" ng-submit="Replysave()" name="mailsms" novalidate>

                <div class="form-group" ng-class="{'has-error': mailsms.messageContent.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.messageContent}} *</label>
                    <div class="col-sm-10">
                        <textarea  ck-editor name="messageContent" class="form-control" ng-model="form.messageContent" required placeholder="{{phrase.messageContent}}"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': mailsms.flagreply.$invalid}" >
                    <label for="inputPassword3" class="col-sm-2 control-label">Check For Reply *</label>
                    <div class="col-sm-10">
                        <div class="checkbox" >
                            <label>
                                <input type="checkbox" name="flagreply" value="1" ng-model="form.flagreply">
                           
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-disabled="mailsms.$invalid">{{phrase.mailSMSSend}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="content" ng-show="views.list">
    <a ng-click="changeView('send')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.listMessages}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>{{phrase.ID}}</th>
                        <th>{{phrase.to}}</th>
                        <th>{{phrase.typeDate}}</th>
                        <th>{{phrase.details}}</th>
                        <th>{{phrase.Sender}}</th>
                        <th>{{phrase.Sender}}</th>
                        <th>Action</th>

                    </tr>
                    <tr ng-repeat="message in messages| filter:searchText">
                        <td>{{message.id}}</td>
                        <td>{{message.mailTo}}</td>
                        <td>{{message.mailType}} <br/> {{message.messageDate}}</td>
                        <td ng-bind-html="trustAsHtml(message.messageData)"></td>
                        <td>{{message.messageSender}}</td>
                        <td></td>
                        <!-- <a ng-click="rep(message.mailId, message.id)" ng-show="message.session =='admin'" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15"> -->
                        <td><a ng-click="rep(message.mailId, message.id)" ng-show="message.session =='admin'" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">Delete</a>
                            </td>
                    </tr>
                    <tr ng-show="!messages.length"><td class="noTableData" colspan="5">{{phrase.noMessages}}</td></tr>
                </tbody></table>
        </div>
    </div>
</section>


<section class="content" ng-show="views.listinbox">
    <a ng-click="changeView('send')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.listMessages}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>{{phrase.ID}}</th>
                        <th>{{phrase.to}}</th>
                        <th>{{phrase.typeDate}}</th>
                        <th>{{phrase.details}}</th>
                        <th>{{phrase.Sender}}</th>
                        <th>Reply</th>
                        <th>Action</th>
                       

                    </tr>
                    <tr ng-repeat="message in messages| filter:searchText">
                        <td>{{message.id}}</td>
                        <td>{{message.mailTo}}</td>
                        <td>{{message.mailType}} <br/> {{message.messageDate}}</td>
                        <td ng-bind-html="trustAsHtml(message.messageData)"></td>
                        <td>{{message.messageSender}}</td>
                        <td> <a ng-hide="message.flagreply =='0'" ng-click="Reply(message.fromid, message.id)" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">Reply</a></td>
                        <td><a ng-click="rep(message.mailId, message.id)" ng-show="message.session =='admin'" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">Delete</a>
                            </td>
                    </tr>
                    <tr><td ng-show="!messages.length" class="noTableData" colspan="5">{{phrase.noMessages}}</td></tr>
                </tbody></table>
        </div>
    </div>
</section>

<modal visible="showModalLink">
    <div class="row">
        <div class="col-sm-9">
            <input type="text" class="form-control" id="searchLink" placeholder="{{phrase.typeNameUserMail}}">
        </div>
        <div class="col-sm-2">
            <a type="button" ng-click="linkStudentButton()" class="btn btn-danger btn-flat">{{phrase.Search}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding-top:10px;">
            <div class="box-body table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr ng-repeat="userOne in searchResults">
                            <td>{{userOne.name}} ({{userOne.role}})</td>
                            <td>{{userOne.email}}</td>
                            <td class="no-print">
                                <a type="button" ng-click="linkStudentFinish(userOne)" class="btn btn-success btn-flat">{{phrase.select}}</a>
                            </td>
                        </tr>
                    </tbody></table>
            </div>
        </div>
    </div>
</modal>
