<section class="content-header">
    <h1>
        <i class="fa fa-book"></i> {{phrase.studyMaterial}}
    </h1>
</section>


<section class="content" ng-show="views.list">
    <a ng-if="userRole == 'admin' || userRole == 'teacher'" ng-click="changeView('add')" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">{{phrase.addMaterial}}</a>
      <a href="javascript:window.print()" class="floatRTL btn btn-success btn-flat pull-right marginBottom15 no-print">{{phrase.Print}}</a> 
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.listStudyMaterial}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>{{phrase.materialTitle}}</th>
                        <th>{{phrase.materialDesc}}</th>
                        <th>{{phrase.class}}</th>
                        <th>{{phrase.section}}</th>
                        <th>{{phrase.subject}}</th>
                        <th>{{phrase.materialdate}}</th>
                        <th> {{phrase.materialAuthor}}</th>
                        <th> {{phrase.materialLink}}</th>
                        <th class="no-print"> {{phrase.Operations}}  </th>
                    </tr>
                    <tr ng-repeat="material in materials| filter:searchText |orderBy:'-id'">
                        <td>{{material.material_title}}</td>
                        <!--                   <td><div  ng-bind-html="material.material_description"></div></td>-->
                        <td ng-bind-html="trustAsHtml(material.material_description)"></td>  
                        <td>{{material.classes}}</td>
                        <td>{{material.sections}}</td>
                        <td>{{material.subject}}</td>
                        <td>{{material.materialdate}}</td>
                        <td>{{material.materialAuthor}}</td>
                        <td>
                            <a ng-show="material.material_link != ''" href="{{material.material_link}}" target="_blank">Lesson Link</a></td>
                        <td>
                        <td class="no-print">
                            <a target="_blank" href="{{'materials/download/' + material.id}}" type="button" class="btn btn-info btn-flat" title="{{phrase.Download}}" tooltip><i class="fa fa-cloud-download"></i></a>
                            <a ng-if="(userRole == 'admin') || (userRole == 'teacher'&& userid==material.teacher_id)" ng-click="edit(material.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.Edit}}" tooltip><i class="fa fa-pencil"></i></a>
                            <a ng-if="(userRole == 'admin') || (userRole == 'teacher'&& userid==material.teacher_id)" ng-click="remove(material, $index)" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a>
                        </td>

                    </tr>
                    <tr ng-show="materials.length == '0'"><td class="noTableData" colspan="8">{{phrase.noMaterialData}}</td></tr>
                </tbody></table>
        </div>
    </div>
</section>

<section class="content" ng-show="views.add">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelAdd}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.addMaterial}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="addDorm" role="form" ng-upload="saveAdd(content)" role="form" method="post" action="materials" novalidate>
                <div class="form-group" ng-class="{'has-error': addDorm.material_title.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.materialTitle}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="material_title" ng-model="form.material_title" class="form-control" required placeholder="{{phrase.materialTitle}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.materialDesc}}</label>
                    <div class="col-sm-10">
                        <textarea ck-editor name="material_description" class="form-control" ng-model="form.material_description" placeholder="{{phrase.materialDesc}}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.materialFile}}</label>
                    <div class="col-sm-10">
                        <input type="file" name="material_file" id="material_add_file">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.materialLink}}  </label>
                    <div class="col-sm-10">
                        <input type="text" name="material_link" ng-model="form.material_link" class="form-control"  placeholder="{{phrase.materialLink}}">
                    </div>
                </div>
<!--                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.materialAuthor}}</label>
                    <div class="col-sm-10">
                        <input type="text" name="materialAuthor" ng-model="form.materialAuthor" class="form-control" placeholder="{{phrase.materialAuthor}}">
                    </div>
                </div>-->
                <div class="form-group" ng-class="{'has-error': addDorm.materialdate.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.materialdate}} </label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="materialdate" ng-model="form.materialdate"  class="form-control datemask">
                    </div>
                </div>
                <div date-picker selector=".datemask" ></div>
                <div class="form-group" ng-class="{'has-error': addDorm['classId[]'].$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.classId" name="classId[]" ng-change="subjectList()" multiple required>
                            <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addDorm['sectionId[]'].$invalid}" >
                    <label for="inputPassword3" class="col-sm-2 control-label">Section *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.sectionId" name="sectionId[]" multiple ng-required="$root.dashboardData.enableSections == '1'">
                            <option ng-repeat="section in sections" value="{{section.id}}">{{section.sectionName}} </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addDorm.subject_id.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Subject}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.subject_id" required name="subject_id">
                            <option ng-repeat="subjectOne in subject" value="{{subjectOne.id}}">{{subjectOne.subjectTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                        <button type="submit" class="btn btn-default" ng-disabled="addDorm.$invalid">{{phrase.addMaterial}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content" ng-show="views.edit">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelEdit}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.editMaterial}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="editDorm" role="form"  ng-upload="saveEdit(content)" role="form" method="post" action="{{'materials/' + form.id}}" novalidate>
                <div class="form-group" ng-class="{'has-error': editDorm.material_title.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.materialTitle}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="material_title" ng-model="form.material_title" class="form-control" required placeholder="{{phrase.materialTitle}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.materialDesc}}</label>
                    <div class="col-sm-10">
                        <textarea  ck-editor name="material_description" class="form-control" ng-model="form.material_description" placeholder="{{phrase.materialDesc}}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.materialFile}}</label>
                    <div class="col-sm-10">
                        <input type="file" name="material_file" id="material_edit_file">
                    </div>
                </div>
                <div class="form-group" >
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.materialLink}} </label>
                    <div class="col-sm-10">
                        <input type="text" name="material_link" ng-model="form.material_link" class="form-control"  placeholder="{{phrase.materialLink}}">
                    </div>
                </div>
<!--                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.materialAuthor}}</label>
                    <div class="col-sm-10">
                        <input type="text" name="materialAuthor" ng-model="form.materialAuthor" class="form-control" placeholder="{{phrase.materialAuthor}}">
                    </div>
                </div>-->
                <div class="form-group" ng-class="{'has-error': editDorm.materialdate.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.materialdate}} </label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="materialdate" ng-model="form.materialdate"  class="form-control datemask">
                    </div>
                </div>
                <div date-picker selector=".datemask" ></div>
                <div class="form-group" ng-class="{'has-error': editDorm['class_id[]'].$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.classId" name="classId[]" ng-change="subjectList()" id="editClassId" multiple required>
                            <option ng-repeat="class in classes" value="{{class.id}}" ng-selected="isSectionSelected(form.class_id, class.id)">{{class.className}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editDorm['sectionId[]'].$invalid}" >
                    <label for="inputPassword3" class="col-sm-2 control-label">Section *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.sectionId" name="sectionId[]" multiple ng-required="$root.dashboardData.enableSections == '1'">
                            <option ng-repeat="section in form.sections" value="{{section.id}}" ng-selected="isSectionSelected(form.sectionId, section.id)">{{section.sectionName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editDorm.subject_id.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Subject}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.subject_id" required name="subject_id">
                            <option ng-repeat="subjectOne in form.subject" value="{{subjectOne.id}}" ng-selected="subjectOne.id == form.subject_id">{{subjectOne.subjectTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                        <button type="submit" class="btn btn-default" ng-disabled="editDorm.$invalid">{{phrase.editMaterial}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!--<section class="content rtlPage" ng-show="views.read">
  <div class="box col-xs-12">
    <div class="box-header">
        <h3 class="box-title">{{materialTitle}}</h3>
    </div>
    <div class="box-body table-responsive">
      <div ng-bind-html="material_description"></div>
    </div>
  </div>
</section>-->