<section class="content-header">
    <h1>
        <i class="fa fa-graduation-cap"></i> {{phrase.onlineExams}}
    </h1>
</section>
<style>
    .color-red{
        color: red;
    }
    .color-blue{
        color: blue;
    }
</style>

<section class="content" ng-show="views.list">
    <a ng-if="userRole == 'admin' || userRole == 'teacher'" ng-click="changeView('add')" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">{{phrase.addExam}}</a>
    <a href="javascript:window.print()" class="floatRTL btn btn-success btn-flat pull-right marginBottom15 no-print">{{phrase.Print}}</a> 
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.listExams}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>{{phrase.ID}}</th>
                        <th>{{phrase.examName}}</th>
                        <th>{{phrase.Subject}}</th>
                        <th>Exam Author</th>
                        <th>{{phrase.examDesc}}</th>
                        <th>Exam Date</th>
                        <th>{{phrase.examDeadline}}</th>
                        <th class="no-print">{{phrase.Operations}}</th>
                    </tr>
                    <tr ng-repeat="exam in onlineexams| filter:searchText">
                        <td>{{exam.id}}</td>
                        <td>{{exam.examTitle}}</td>
                        <td>{{exam.examSubject}}</td>
                        <td>{{exam.examAuthor}}</td>
                        <!--<td>{{exam.examDescription}}</td>-->
                        <td ng-bind-html="trustAsHtml(exam.examDescription)"></td>  
                        <td>{{exam.examDate * 1000| date:$root.angDateFormat}}</td>
                        <td>{{exam.ExamEndDate * 1000| date:$root.angDateFormat}}</td>
                        <td class="no-print">
                            <a ng-if="userRole == 'student'" ng-click="take(exam.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.takeExam}}" tooltip><i class="fa fa-list-alt"></i></a>
                            <a ng-if="userRole == 'admin' || userRole == 'teacher' || userRole == 'student' || userRole == 'parent'" ng-click="marksData(exam.id)" type="button" class="btn btn-success btn-flat" title="{{phrase.showMarks}}" tooltip><i class="fa fa-check-square-o"></i></a>
                            <a ng-if="userRole == 'admin' || userRole == 'teacher'" ng-click="edit(exam.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.Edit}}" tooltip><i class="fa fa-pencil"></i></a>
                            <a ng-if="userRole == 'admin' || userRole == 'teacher'" ng-click="remove(exam, $index)" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr ng-show="!onlineexams.length"><td class="noTableData" colspan="5">{{phrase.noExams}}</td></tr>
                </tbody></table>
        </div>
    </div>
</section>

<section class="content" ng-show="views.add">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelAdd}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.addExam}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="addExam" role="form" ng-submit="saveAdd()" novalidate>
                <div class="form-group" ng-class="{'has-error': addExam.examTitle.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.examName}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="examTitle" ng-model="form.examTitle" class="form-control" required placeholder="{{phrase.examName}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.examDesc}}</label>
                    <div class="col-sm-10">
                        <textarea ck-editor name="examDescription" class="form-control" ng-model="form.examDescription" placeholder="{{phrase.examDesc}}"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addExam.examClass.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.examClass" name="examClass[]" multiple required ng-change="subjectList()">
                            <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addExam.sectionId.$invalid}" ng-show="$root.dashboardData.enableSections == '1'">
                    <label for="inputPassword3" class="col-sm-2 control-label">Section *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.sectionId" name="sectionId[]" multiple ng-required="$root.dashboardData.enableSections == '1'">
                            <option ng-repeat="section in sections" value="{{section.id}}">{{section.sectionName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addExam.examSubject.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Subject}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.examSubject" required name="examSubject">
                            <option ng-repeat="subjectOne in subjects" value="{{subjectOne.id}}">{{subjectOne.subjectTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.examLink}}  </label>
                    <div class="col-sm-10">
                        <input type="text" name="examlink" ng-model="form.examlink" class="form-control"  placeholder="{{phrase.examLink}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addExam.examDate.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.startTime}} *</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="examDate" ng-model="form.examDate" required class="form-control datemask">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addExam.ExamEndDate.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.endTime}} *</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="ExamEndDate" ng-model="form.ExamEndDate" required class="form-control datemask">
                    </div>
                </div>
                <div date-picker selector=".datemask" ></div>
                <div class="form-group" ng-class="{'has-error': addExam.examTimeMinutes.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.allowedExamMin}} *</label>
                    <div class="col-sm-10">
                        <input type="text" name="examTimeMinutes" ng-model="form.examTimeMinutes" required class="form-control">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addExam.examDegreeSuccess.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.examDegreeSuccess}} *</label>
                    <div class="col-sm-10">
                        <input type="text" name="examDegreeSuccess" ng-model="form.examDegreeSuccess" required class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Extras}}</label>
                    <div class="col-sm-10">
                        <input type="checkbox" ng-model="form.ExamShowGrade" value="1" ng-checked="form.ExamShowGrade == '1'"> {{phrase.showExamGradesAfter}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Questions}}</label>
                    <div class="col-sm-10">

                        <div class="box-body table-responsive">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.Question}}</label>
                                <div class="col-sm-11">
                                    <input type="text" name="examTitle" ng-model="examTitle" class="form-control" placeholder="{{phrase.Question}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.questionMark}}</label>
                                <div class="col-sm-11">
                                    <input type="text" name="questionMark" ng-model="questionMark" class="form-control" placeholder="Question mark">
                                    {{phrase.emptyOneMark}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.questionType}}</label>
                                <div class="col-sm-11">
                                    <select class="form-control" id="examQType" ng-model="examQType">
                                        <option value="radio">{{phrase.oneOption}}</option>
                                        <option value="check">{{phrase.multipleOption}}</option>
                                        <option value="text">{{phrase.textValue}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-show="examQType == 'radio'">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.Answers}} </label>
                                <div class="col-sm-2">
                                    <input type="text" name="ans1" ng-model="ans1" class="form-control" placeholder="Answer 1">
                                    <input type="radio" name="optionsRadios" value="1" ng-model="Tans"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans2" ng-model="ans2" class="form-control" placeholder="Answer 2">
                                    <input type="radio" name="optionsRadios" value="2" ng-model="Tans"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans3" ng-model="ans3" class="form-control" placeholder="Answer 3">
                                    <input type="radio" name="optionsRadios" value="3" ng-model="Tans"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans4" ng-model="ans4" class="form-control" placeholder="Answer 4">
                                    <input type="radio" name="optionsRadios" value="4" ng-model="Tans"> {{phrase.trueAns}}
                                </div>
                                <a ng-click="addQuestion()" class="col-sm-3 btn btn-danger btn-flat pull-right marginBottom15">{{phrase.addQuestion}}</a>
                            </div>
                            <div class="form-group" ng-show="examQType == 'check'">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.Answers}} </label>
                                <div class="col-sm-2">
                                    <input type="text" name="ans1" ng-model="ans1" class="form-control" placeholder="Answer 1">
                                    <input type="checkbox" name="optionsRadios" value="1" ng-model="Tans1"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans2" ng-model="ans2" class="form-control" placeholder="Answer 2">
                                    <input type="checkbox" name="optionsRadios" value="2" ng-model="Tans2"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans3" ng-model="ans3" class="form-control" placeholder="Answer 3">
                                    <input type="checkbox" name="optionsRadios" value="3" ng-model="Tans3"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans4" ng-model="ans4" class="form-control" placeholder="Answer 4">
                                    <input type="checkbox" name="optionsRadios" value="4" ng-model="Tans4"> {{phrase.trueAns}}
                                </div>
                                <a ng-click="addQuestion()" class="col-sm-3 btn btn-danger btn-flat pull-right marginBottom15">{{phrase.addQuestion}}</a>
                            </div>
                            <div class="form-group" ng-show="examQType == 'text'">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.Answers}} </label>
                                <div class="col-sm-8">
                                    <input type="text" name="ans1" ng-model="ans1" class="form-control" placeholder="Add true ansewers seperated with ,">
                                </div>
                                <a ng-click="addQuestion()" class="col-sm-3 btn btn-danger btn-flat pull-right marginBottom15">{{phrase.addQuestion}}</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4" ng-repeat="question in form.examQuestion">
                                <div class="box box-info" ng-show="!question.type || question.type == 'radio'">
                                    <div class="box-header">
                                        <h3 class="box-title">{{phrase.infoBox}}</h3>
                                        <div class="box-tools pull-right">
                                            <a href="" ng-click="removeQuestion(question, $index)" class="label bg-aqua">{{phrase.Remove}}</a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group" ng-class="{'has-error': addExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">{{phrase.Question}}</label>
                                            <div class="col-sm-12"> {{question.title}} </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': addExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">Mark</label>
                                            <div class="col-sm-12"> {{question.questionMark}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.questionType}}</label>
                                            <div class="col-sm-12">{{phrase.oneOption}}</div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': addExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">{{phrase.Answers}} </label>
                                            <div class="col-sm-12">
                                                {{question.ans1}} <span ng-show="question.Tans == '1'"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans2}} <span ng-show="question.Tans == '2'"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans3}} <span ng-show="question.Tans == '3'"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans4}} <span ng-show="question.Tans == '4'"> [{{phrase.trueAns}}]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-info" ng-show="question.type == 'check'">
                                    <div class="box-header">
                                        <h3 class="box-title">{{phrase.infoBox}}</h3>
                                        <div class="box-tools pull-right">
                                            <a href="" ng-click="removeQuestion(question, $index)" class="label bg-aqua">{{phrase.Remove}}</a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.Question}}</label>
                                            <div class="col-sm-12"> {{question.title}} </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': addExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">Mark</label>
                                            <div class="col-sm-12"> {{question.questionMark}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.questionType}}</label>
                                            <div class="col-sm-12"> {{phrase.multipleOption}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.Answers}} </label>
                                            <div class="col-sm-12">
                                                {{question.ans1}} <span ng-show="question.Tans1"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans2}} <span ng-show="question.Tans2"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans3}} <span ng-show="question.Tans3"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans4}} <span ng-show="question.Tans4"> [{{phrase.trueAns}}]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-info" ng-show="question.type == 'text'">
                                    <div class="box-header">
                                        <h3 class="box-title">{{phrase.infoBox}}</h3>
                                        <div class="box-tools pull-right">
                                            <a href="" ng-click="removeQuestion(question, $index)" class="label bg-aqua">{{phrase.Remove}}</a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.Question}}</label>
                                            <div class="col-sm-12"> {{question.title}} </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': addExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">Mark</label>
                                            <div class="col-sm-12"> {{question.questionMark}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.questionType}}</label>
                                            <div class="col-sm-12"> {{phrase.textValue}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.Answers}} </label>
                                            <div class="col-sm-12">
                                                {{question.ans1}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-disabled="addExam.$invalid">{{phrase.addExam}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content" ng-show="views.edit">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelEdit}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.editExam}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="editExam" role="form" ng-submit="saveEdit()" novalidate>
                <div class="form-group" ng-class="{'has-error': editExam.examTitle.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.examName}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="examTitle" ng-model="form.examTitle" class="form-control" required placeholder="{{phrase.examName}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.examDesc}}</label>
                    <div class="col-sm-10">
                        <textarea ck-editor name="examDescription" class="form-control" ng-model="form.examDescription" placeholder="{{phrase.examDesc}}"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editExam.examClass.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.examClass" name="examClass[]" multiple required ng-change="subjectList()">
                            <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editExam.sectionId.$invalid}" ng-show="$root.dashboardData.enableSections == '1'">
                    <label for="inputPassword3" class="col-sm-2 control-label">Section *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.sectionId" name="sectionId[]" multiple ng-required="$root.dashboardData.enableSections == '1'">
                            <option ng-repeat="section in sections" value="{{section.id}}" ng-selected="isSectionSelected(form.sectionId, section.id)">{{section.sectionName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editExam.examSubject.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Subject}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.examSubject" required name="examSubject">
                            <option ng-repeat="subjectOne in subject" value="{{subjectOne.id}}">{{subjectOne.subjectTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.examLink}}  </label>
                    <div class="col-sm-10">
                        <input type="text" name="examlink" ng-model="form.examlink" class="form-control"  placeholder="{{phrase.examLink}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editExam.examDate.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.startTime}}</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="examDate" ng-model="form.examDate" required class="form-control datemask">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editExam.ExamEndDate.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.endTime}}</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="ExamEndDate" ng-model="form.ExamEndDate" required class="form-control datemask">
                    </div>
                </div>
                <div date-picker selector=".datemask" ></div>
                <div class="form-group" ng-class="{'has-error': editExam.examTimeMinutes.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.allowedExamMin}} *</label>
                    <div class="col-sm-10">
                        <input type="text" name="examTimeMinutes" ng-model="form.examTimeMinutes" required class="form-control" >
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editExam.examDegreeSuccess.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.examDegreeSuccess}} *</label>
                    <div class="col-sm-10">
                        <input type="text" name="examDegreeSuccess" ng-model="form.examDegreeSuccess" required class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Extras}}</label>
                    <div class="col-sm-10">
                        <input type="checkbox" ng-model="form.ExamShowGrade" value="1" ng-checked="form.ExamShowGrade == '1'"> {{phrase.showExamGradesAfter}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.Questions}}</label>
                    <div class="col-sm-10">

                        <div class="box-body table-responsive">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.Question}}</label>
                                <div class="col-sm-11">
                                    <input type="text" name="examTitle" ng-model="examTitle" class="form-control" placeholder="{{phrase.Question}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.questionMark}}</label>
                                <div class="col-sm-11">
                                    <input type="text" name="questionMark" ng-model="questionMark" class="form-control" placeholder="Question mark">
                                    {{phrase.emptyOneMark}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.questionType}}</label>
                                <div class="col-sm-11">
                                    <select class="form-control" id="examQType" ng-model="examQType">
                                        <option value="radio">{{phrase.oneOption}}</option>
                                        <option value="check">{{phrase.multipleOption}}</option>
                                        <option value="text">{{phrase.textValue}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-show="examQType == 'radio'">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.Answers}} </label>
                                <div class="col-sm-2">
                                    <input type="text" name="ans1" ng-model="ans1" class="form-control" placeholder="Answer 1">
                                    <input type="radio" name="optionsRadios" value="1" ng-model="Tans"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans2" ng-model="ans2" class="form-control" placeholder="Answer 2">
                                    <input type="radio" name="optionsRadios" value="2" ng-model="Tans"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans3" ng-model="ans3" class="form-control" placeholder="Answer 3">
                                    <input type="radio" name="optionsRadios" value="3" ng-model="Tans"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans4" ng-model="ans4" class="form-control" placeholder="Answer 4">
                                    <input type="radio" name="optionsRadios" value="4" ng-model="Tans"> {{phrase.trueAns}}
                                </div>
                                <a ng-click="addQuestion()" class="col-sm-3 btn btn-danger btn-flat pull-right marginBottom15">{{phrase.addQuestion}}</a>
                            </div>
                            <div class="form-group" ng-show="examQType == 'check'">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.Answers}} </label>
                                <div class="col-sm-2">
                                    <input type="text" name="ans1" ng-model="ans1" class="form-control" placeholder="Answer 1">
                                    <input type="checkbox" name="optionsRadios" value="1" ng-model="Tans1"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans2" ng-model="ans2" class="form-control" placeholder="Answer 2">
                                    <input type="checkbox" name="optionsRadios" value="2" ng-model="Tans2"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans3" ng-model="ans3" class="form-control" placeholder="Answer 3">
                                    <input type="checkbox" name="optionsRadios" value="3" ng-model="Tans3"> {{phrase.trueAns}}
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="ans4" ng-model="ans4" class="form-control" placeholder="Answer 4">
                                    <input type="checkbox" name="optionsRadios" value="4" ng-model="Tans4"> {{phrase.trueAns}}
                                </div>
                                <a ng-click="addQuestion()" class="col-sm-3 btn btn-danger btn-flat pull-right marginBottom15">{{phrase.addQuestion}}</a>
                            </div>
                            <div class="form-group" ng-show="examQType == 'text'">
                                <label for="inputEmail3" class="col-sm-1 control-label">{{phrase.Answers}} </label>
                                <div class="col-sm-8">
                                    <input type="text" name="ans1" ng-model="ans1" class="form-control" placeholder="Add true ansewers seperated with ,">
                                </div>
                                <a ng-click="addQuestion()" class="col-sm-3 btn btn-danger btn-flat pull-right marginBottom15">{{phrase.addQuestion}}</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4" ng-repeat="question in form.examQuestion">
                                <div class="box box-info" ng-show="!question.type || question.type == 'radio'">
                                    <div class="box-header">
                                        <h3 class="box-title">{{phrase.infoBox}}</h3>
                                        <div class="box-tools pull-right">
                                            <a href="" ng-click="removeQuestion(question, $index)" class="label bg-aqua">{{phrase.Remove}}</a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group" ng-class="{'has-error': editExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">{{phrase.Question}}</label>
                                            <div class="col-sm-12"> {{question.title}} </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': editExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">Mark</label>
                                            <div class="col-sm-12"> {{question.questionMark}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.questionType}}</label>
                                            <div class="col-sm-12">{{phrase.oneOption}}</div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': editExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">{{phrase.Answers}} </label>
                                            <div class="col-sm-12">
                                                {{question.ans1}} <span ng-show="question.Tans == '1'"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans2}} <span ng-show="question.Tans == '2'"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans3}} <span ng-show="question.Tans == '3'"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans4}} <span ng-show="question.Tans == '4'"> [{{phrase.trueAns}}]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-info" ng-show="question.type == 'check'">
                                    <div class="box-header">
                                        <h3 class="box-title">{{phrase.infoBox}}</h3>
                                        <div class="box-tools pull-right">
                                            <a href="" ng-click="removeQuestion(question, $index)" class="label bg-aqua">{{phrase.Remove}}</a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.Question}}</label>
                                            <div class="col-sm-12"> {{question.title}} </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': editExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">Mark</label>
                                            <div class="col-sm-12"> {{question.questionMark}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.questionType}}</label>
                                            <div class="col-sm-12"> {{phrase.multipleOption}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.Answers}} </label>
                                            <div class="col-sm-12">
                                                {{question.ans1}} <span ng-show="question.Tans1"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans2}} <span ng-show="question.Tans2"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans3}} <span ng-show="question.Tans3"> [{{phrase.trueAns}}]</span><br/>
                                                {{question.ans4}} <span ng-show="question.Tans4"> [{{phrase.trueAns}}]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-info" ng-show="question.type == 'text'">
                                    <div class="box-header">
                                        <h3 class="box-title">{{phrase.infoBox}}</h3>
                                        <div class="box-tools pull-right">
                                            <a href="" ng-click="removeQuestion(question, $index)" class="label bg-aqua">{{phrase.Remove}}</a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.Question}}</label>
                                            <div class="col-sm-12"> {{question.title}} </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': editExam.AssignTitle.$invalid}">
                                            <label class="col-sm-12">Mark</label>
                                            <div class="col-sm-12"> {{question.questionMark}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.questionType}}</label>
                                            <div class="col-sm-12"> {{phrase.textValue}} </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">{{phrase.Answers}} </label>
                                            <div class="col-sm-12">
                                                {{question.ans1}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-disabled="editExam.$invalid">{{phrase.editExam}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<section class="content" ng-show="views.take">
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.takeExam}} : {{takeData.examTitle}} [{{takeData.examDescription}}]</h3>
            <timer autostart="false" ng-if="takeData.timeLeft != '0'" id="onlineExamTimer" countdown="1000" interval="1000" finish-callback="finishExam()">Time Remaining : {{hours}}:{{minutes}}:{{seconds}}</timer>
        </div>
        <div class="box-body table-responsive">

            <form class="form-horizontal" name="takeQuestions" role="form" ng-submit="submitExam()" novalidate>

                <div class="row">
                    <div class="col-md-12" ng-repeat="question in takeData.examQuestion">
                        <div class="box box-info" >
                            <div class="box-header">
                                <h3 class="box-title">{{question.title}}</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="col-sm-12" ng-show="!question.type || question.type == 'radio'">
                                        <div class="radio" ng-show="question.ans1">
                                            <label>
                                                <input type="radio" ng-model="question.answer" value="1"> {{question.ans1}}
                                            </label>
                                        </div>
                                        <div class="radio" ng-show="question.ans2">
                                            <label>
                                                <input type="radio" ng-model="question.answer" value="2"> {{question.ans2}}
                                            </label>
                                        </div>
                                        <div class="radio" ng-show="question.ans3">
                                            <label>
                                                <input type="radio" ng-model="question.answer" value="3"> {{question.ans3}}
                                            </label>
                                        </div>
                                        <div class="radio" ng-show="question.ans4">
                                            <label>
                                                <input type="radio" ng-model="question.answer" value="4"> {{question.ans4}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-show="question.type && question.type == 'check'">
                                        <div class="radio" ng-show="question.ans1">
                                            <label>
                                                <input type="checkbox" ng-model="question.answer1" value="1"> {{question.ans1}}
                                            </label>
                                        </div>
                                        <div class="radio" ng-show="question.ans2">
                                            <label>
                                                <input type="checkbox" ng-model="question.answer2" value="2"> {{question.ans2}}
                                            </label>
                                        </div>
                                        <div class="radio" ng-show="question.ans3">
                                            <label>
                                                <input type="checkbox" ng-model="question.answer3" value="3"> {{question.ans3}}
                                            </label>
                                        </div>
                                        <div class="radio" ng-show="question.ans4">
                                            <label>
                                                <input type="checkbox" ng-model="question.answer4" value="4"> {{question.ans4}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-show="question.type && question.type == 'text'">
                                        <input type="text" name="question.answer" ng-model="question.answer" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-disabled="takeQuestions.$invalid">{{phrase.submitAnswers}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<section class="content" ng-show="views.marks">
    <a ng-click="changeView('list')" class="btn btn-success btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-success btn-flat">{{phrase.Export}}</button>
        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{phrase.toggleDropdown}}</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="onlineExams/export/{{marksExam}}/excel">{{phrase.ExportExcel}}</a></li>
            <li><a href="onlineExams/export/{{marksExam}}/pdf" target="_BLANK">{{phrase.ExportPDF}}</a></li>
        </ul>
    </div>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.listMarks}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>{{phrase.studentName}}</th>
                        <th>{{phrase.Grade}}</th>
                        <th>{{phrase.Date}}</th>
                        <th ng-show="role != 'parent'" >Show Answers</th>
                    </tr>
                    <tr ng-repeat="mark in marks| filter:searchText">
                        <td>
                            <img alt="{{mark.fullName}}" class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{'dashboard/profileImage/' + mark.studentId}}">
                            <a href="" ng-click="studentProfile(mark.studentId)">{{mark.fullName}}</a>
                        </td>
                        <td>
                            <span ng-show="mark.examGrade == null">Not completed exam</span>
                            {{mark.examGrade}}
                            <span ng-show="examDegreeSuccess != '0' && examDegreeSuccess > mark.examGrade" style="color:red; font-weight:bold;"> [ Failed ] </span>
                            <span ng-show="examDegreeSuccess != '0' && examDegreeSuccess <= mark.examGrade" style="color:green; font-weight:bold;"> [ Succeded ] </span>
                        </td>
                        <td>{{mark.examDate * 1000| date:$root.angDateFormat}}</td>
                        <td ng-show="role != 'parent'" ><a href="" ng-click="answerstudent(mark.examId, mark.studentIds)">Show Answers</a></td>
                    </tr>
                </tbody></table>
        </div>
    </div>
</section>

<section class="content" ng-show="views.list_answer">
    <a ng-click="changeView('marks')" class="btn btn-success btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-success btn-flat">{{phrase.Export}}</button>
        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{phrase.toggleDropdown}}</span>
        </button>

    </div>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.listMarks}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>Question Name</th>
                        <th>Student Answer</th>
                        <th>Right Answer</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="answer in answerData| filter:searchText">
                        <td>
                            {{answer.title}}
                        </td>
                        <td>
                            {{answer.student_ans}}
                        </td>
                        <td>{{answer.right_answer}}</td>
                        <td ng-class="{'color-red': answer.status === 'Wrong', 'color-blue': answer.status === 'Right'}">{{answer.status}}</td>
                    </tr>
                </tbody></table>
        </div>
    </div>
</section>
<modal visible="showModal"><div ng-bind-html="modalContent"></div></modal>
