 <section class="content-header">
    <h1>
        <i class="fa fa-arrow-up"></i> {{phrase.Promotion}}
    </h1>
</section>

<section class="content" ng-show="views.list">
  <div class="box col-xs-12">
    <div class="box-header">
        <h3 class="box-title">{{phrase.promoteStudents}}</h3>
    </div>
    <div class="box-body table-responsive">
      <form class="form-horizontal" name="promoteForm" role="form" novalidate ng-submit="listStudents()">
          <div class="form-group" ng-class="{'has-error': promoteForm.selectType.$invalid}">
            <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.select}} * </label>
            <div class="col-sm-10">
              <div class="radio">
                  <label>
                      <input type="radio" name="selectType" value="acYear" ng-model="form.selectType" checked="checked" required>
                      {{phrase.fromAcYear}}
                  </label>
              </div>
              <div class="radio">
                  <label>
                      <input type="radio" name="selectType" value="selStudents" ng-model="form.selectType" required>
                      {{phrase.selectStudents}}
                  </label>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="form.selectType == 'acYear'" ng-class="{'has-error': promoteForm.acYear.$invalid}">
            <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.fromAcYear}} * </label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="form.acYear" name="acYear" ng-change="classesList()" required>
                <option ng-repeat="year in $root.dashboardData.academicYear" value="{{year.id}}" ng-if="year.isDefault == '0'">{{year.yearTitle}}</option>
                <option ng-repeat="year in $root.dashboardData.academicYear" value="{{year.id}}" ng-if="year.isDefault == '1'">{{year.yearTitle}} - Default Year</option>
              </select>
            </div>
          </div>
        <div class="form-group" ng-if="form.selectType == 'acYear'" ng-class="{'has-error': promoteForm.classId.$invalid}">
          <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.class}} * </label>
          <div class="col-sm-10">
            <select class="form-control" ng-model="form.classId" name="classId" required>
              <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-if="form.selectType == 'selStudents'">
          <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.studentDetails}}</label>
          <div class="col-sm-10">
            <a type="button" ng-click="linkStudent()" class="btn btn-danger btn-flat">Link Student</a>
            <div class="row" ng-repeat="studentOne in form.studentInfo track by $index">
              <div class="col-xs-4"><input type="text" class="form-control" disabled="disabled" ng-model="studentOne.student"></div>
              <a type="button" ng-click="removeStudent(studentOne.id)" class="btn btn-danger btn-flat"><i class="fa fa-trash-o"></i></a></li>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-disabled="promoteForm.$invalid">{{phrase.promoteStudents}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="content" ng-show="views.studentPromote">
  <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
  <div class="box col-xs-12">
    <div class="box-header">
        <h3 class="box-title">{{phrase.promoteStudents}}</h3>
    </div>
    <div class="box-body table-responsive">
      <form class="form-horizontal" name="promoteStudentForm" role="form" novalidate ng-submit="promoteNow()">
          <table class="table table-bordered">
            <tr>
              <th>{{phrase.studentName}}</th>
              <th>{{phrase.newAcYear}}</th>
              <th>{{phrase.newClass}}</th>
              <th ng-show="$root.dashboardData.enableSections == '1'">New Section</th>
            </tr>
            <tr ng-repeat="(key,value) in studentsList.students">
              <td>{{value.fullName}}</td>
              <td>
                  <select class="form-control" ng-model="studentsList.students[key].acYear" name="acYear[{{key}}]" ng-change="classesPromoteList(key)" >
                    <option ng-repeat="year in $root.dashboardData.academicYear" value="{{year.id}}" ng-if="year.isDefault == '0'" ng-selected="year.id == form.acYear">{{year.yearTitle}}</option>
                    <option ng-repeat="year in $root.dashboardData.academicYear" value="{{year.id}}" ng-if="year.isDefault == '1'" ng-selected="year.id == form.acYear">{{year.yearTitle}} - Default Year</option>
                  </select>
              </td>
              <td>
                  <select class="form-control" ng-model="studentsList.students[key].class" name="academicYear[{{key}}]" >
                    <option ng-repeat="class in classesArray[key].classes" value="{{class.id}}" ng-selected="class.id == value.class">{{class.className}}</option>
                  </select>
              </td>
              <td ng-show="$root.dashboardData.enableSections == '1'">
                  <select class="form-control" ng-model="studentsList.students[key].section" name="section[{{key}}]" >
                    <option ng-repeat="section in sections[studentsList.students[key].class]" value="{{section.id}}" ng-selected="section.id == section.section">{{section.sectionName}}</option>
                  </select>
              </td>
            </tr>
          </table>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10"><br/>
            <button type="submit" class="btn btn-default" ng-disabled="promoteStudentForm.$invalid">{{phrase.promoteStudents}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="content" ng-show="views.studentsPromoted">
  <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
  <div class="box col-xs-12">
    <div class="box-header">
        <h3 class="box-title">{{phrase.promoteStudents}}</h3>
    </div>
    <div class="box-body table-responsive">
      <form class="form-horizontal" name="promoteStudentForm" role="form" novalidate ng-submit="promoteNow()">
          <table class="table table-bordered">
            <tr>
              <th>{{phrase.studentName}}</th>
              <th>{{phrase.Status}}</th>
            </tr>
            <tr ng-repeat="student in studentsPromoted">
              <td>{{student.fullName}}</td>
              <td>{{student.status}}</td>
            </tr>
          </table>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10"><br/>
            <button type="submit" class="btn btn-default" ng-disabled="promoteStudentForm.$invalid">{{phrase.promoteStudents}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<modal visible="showModalLink">
  <div class="row">
      <div class="col-sm-9">
        <input type="text" class="form-control" id="searchLink" placeholder="Type student name / username / E-mail address">
      </div>
      <div class="col-sm-2">
        <a type="button" ng-click="linkStudentButton()" class="btn btn-danger btn-flat">{{phrase.Search}}</a>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding-top:10px;">
      <div class="box-body table-responsive">
        <table class="table table-bordered">
          <tbody>
          <tr ng-repeat="studentOne in searchResults">
              <td>{{studentOne.name}}</td>
              <td>{{studentOne.email}}</td>
              <td class="no-print">
               <a type="button" ng-click="linkStudentFinish(studentOne)" class="btn btn-success btn-flat">{{phrase.select}}</a>
              </td>
          </tr>
        </tbody></table>
      </div>
    </div>
  </div>
</modal>
