<section class="content-header">
    <h1>
        <i class="fa fa-sitemap"></i> {{phrase.sections}}
    </h1>
</section>

<section class="content" ng-show="views.list">
    <a ng-click="changeView('add')" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">{{phrase.addSection}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.listSections}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <div ng-repeat="(key, value) in sections">
                <h4>{{key}}</h4>
                <table class="table table-hover">
                    <tbody><tr>
                            <th>{{phrase.section}} </th>
                            <!--                      <th>{{phrase.sectionTitle}}</th>-->
                            <th>{{phrase.teacher}}</th>
                            <!--          <th>{{phrase.Operations}}</th>-->
                        </tr>
                        <tr ng-repeat="section in value | filter:searchText">
                            <td>{{section.sectionName}}</td>
                            <!--                      <td>{{section.sectionTitle}}</td>-->
                            <td>
                                <span ng-repeat="(key_, value_) in section.teacherId">
                                    {{teachers[value_]}} <br/>
                                </span>
                                <!-- </td>-->
                            <td>
                                <a ng-click="edit(section.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.Edit}}" tooltip><i class="fa fa-pencil"></i></a>
                                <a ng-click="remove(section, $index)" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody></table>
            </div>
        </div>
    </div>
</section>

<section class="content" ng-show="views.add">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelAdd}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.addSection}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="addDorm" role="form" ng-submit="saveAdd()" novalidate>
                <div class="form-group" ng-class="{'has-error': addDorm.sectionName.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.section}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="sectionName" ng-model="form.sectionName" class="form-control" required placeholder="{{phrase.section}}">
                    </div>
                </div>
                <!--        <div class="form-group" ng-class="{'has-error': addDorm.sectionTitle.$invalid}">
                          <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.sectionTitle}} * </label>
                          <div class="col-sm-10">
                            <input type="text" name="sectionTitle" ng-model="form.sectionTitle" class="form-control" required placeholder="{{phrase.sectionTitle}}">
                          </div>
                        </div>-->

                <div class="form-group" ng-class="{'has-error': addDorm.classId.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.classId" name="classId" required >
                            <option ng-repeat="(key, value) in classes" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.subject}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.subjectId" multiple name="subjectId" ng-change="teacherList();" >
                            <option value="0">{{phrase.all}}</option>
                            <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subjectTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.teacher}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="teacher" multiple >
                            <option ng-repeat="teacher in teachers_e" value="{{teacher.id}}">{{teacher.fullName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-3" style="padding:10px 10px 0 0; margin: 8px 67px 0;"> 
                    <a href="JavaScript:void(0);" id="btn-add" 
                       style=" background-color: #4e9324;color: #fff;font-family: Tahoma;font-weight: normal;padding: 5px;"> 
                        Add &raquo; </a>
                </div>
                </div>
                
                <div class="form-group" ng-class="{'has-error': addDorm.teacherId.$invalid}" id="errorcheck">
                    <label for="inputPassword3" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <select class="form-control" id="teacher_select" ng-model="form.teacherId" name="teacherId" multiple required>

                        </select>
                    </div>
                </div>
                <div class="col-sm-3" style="padding:0 10px 0 0; margin: 12px 52px 0;">  
                    <a href="JavaScript:void(0);" id="btn-remove"
                       style=" background-color: #dc2c1a;color: #fff;font-family: Tahoma;font-weight: normal;padding: 5px 6px 5px 5px;"> 
                        &laquo; Delete</a></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-disabled="addDorm.$invalid">{{phrase.addSection}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content" ng-show="views.edit">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelEdit}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.editSection}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="editDorm" role="form" ng-submit="saveEdit()" novalidate>
                <div class="form-group" ng-class="{'has-error': editDorm.sectionName.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.section}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="sectionName" ng-model="form.sectionName" class="form-control" required placeholder="{{phrase.section}}">
                    </div>
                </div>
                <!--          <div class="form-group" ng-class="{'has-error': editDorm.sectionTitle.$invalid}">
                            <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.sectionTitle}} * </label>
                            <div class="col-sm-10">
                              <input type="text" name="sectionTitle" ng-model="form.sectionTitle" class="form-control" required placeholder="{{phrase.sectionTitle}}">
                            </div>
                          </div>-->
                <div class="form-group" ng-class="{'has-error': editDorm.classId.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.classId" name="classId" required ng-change="teacherList();">
                            <option ng-repeat="(key, value) in classes" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.subject}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.subjectId" multiple name="subjectId" ng-change="teacherList();" >
                            <option value="0">{{phrase.all}}</option>
                            <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subjectTitle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.teacher}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="teacherE" multiple>
                            <option ng-repeat="teacher in teachers_e" ng-if="selectTeacher.indexOf(teacher.id) == -1 || selectTeacher == null" value="{{teacher.id}}">{{teacher.fullName}}</option>
                        </select>
                    </div>
                </div>
                 <div class="form-group" >
                    <div class="col-sm-3" style="padding:10px 10px 0 0; margin: 8px 67px 0;"> 
                    <a href="JavaScript:void(0);" id="btn-addE" 
                       style=" background-color: #4e9324;color: #fff;font-family: Tahoma;font-weight: normal;padding: 5px;"> 
                        Add &raquo; </a>
                </div>
                </div>
                
                <div class="form-group" ng-class="{'has-error': editDorm.teacherId.$invalid}" id="errorcheckE">
                    <label for="inputPassword3" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <select class="form-control" id="teacher_selectE" ng-model="form.teacherId" name="teacherId" multiple required>
 <option ng-repeat="teacher in selectTeacher" selected='selected'  value="{{teacher.id}}" >{{teacher.fullName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3" style="padding:0 10px 0 0; margin: 12px 52px 0;">  
                    <a href="JavaScript:void(0);" id="btn-removeE"
                       style=" background-color: #dc2c1a;color: #fff;font-family: Tahoma;font-weight: normal;padding: 5px 6px 5px 5px;"> 
                        &laquo; Delete</a></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-disabled="editDorm.$invalid">{{phrase.editSection}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    $('#btn-add').click(function(){
        $('#teacher option:selected').each( function() {
                $('#teacher_select').append("<option selected='selected' value='"+$(this).val()+"'>"+$(this).text()+"</option>");
            $(this).remove(); 
            
        });
      $('#teacher_select option').each(function() {
                                                   $(this).attr("selected", 'selected');
                                                             });
  if ($('#teacher_select option').length > 0)
             {
                 if(!$('#teacher_select').hasClass("ng-valid ng-valid-required ng-dirty")){
                     $('#errorcheck').removeClass("has-error");
               $('#teacher_select').addClass("ng-valid ng-valid-required ng-dirty");
               $('#teacher_select').removeClass("ng-pristine ng-invalid ng-invalid-required");}
             }
    });
     $('#btn-remove').click(function(){
        $('#teacher_select option:selected').each( function() {
            $('#teacher').append("<option value='"+$(this).val()+"'>"+$(this).text()+"</option>");
            $(this).remove();
            
        });
          $('#teacher_select option').each(function() {
                                                   $(this).attr("selected", 'selected');
                                                             });
           if ($('#teacher_select option').length == 0)
             {
               if(!$('#teacher_select').hasClass("ng-pristine ng-invalid ng-invalid-required")){
                   $('#errorcheck').addClass("has-error");
               $('#teacher_select').addClass("ng-pristine ng-invalid ng-invalid-required");
                $('#teacher_select').removeClass(" ng-valid ng-valid-required ng-dirty");
              }
             }
    });
     $('#btn-addE').click(function(){
        $('#teacherE option:selected').each( function() {
                $('#teacher_selectE').append("<option selected='selected' value='"+$(this).val()+"'>"+$(this).text()+"</option>");
            $(this).remove(); 
            
        });
      $('#teacher_selectE option').each(function() {
                                                   $(this).attr("selected", 'selected');
                                                             });
  if ($('#teacher_selectE option').length > 0)
             {
                 if(!$('#teacher_selectE').hasClass("ng-dirty ng-valid ng-valid-required ")){
                     $('#errorcheckE').removeClass("has-error");
               $('#teacher_selectE').addClass("ng-dirty ng-valid ng-valid-required ");
               $('#teacher_selectE').removeClass("ng-pristine ng-invalid ng-invalid-required");}
             }
    });
     $('#btn-removeE').click(function(){
        $('#teacher_selectE option:selected').each( function() {
            $('#teacherE').append("<option value='"+$(this).val()+"'>"+$(this).text()+"</option>");
            $(this).remove();
            
        });
          $('#teacher_selectE option').each(function() {
                                                   $(this).attr("selected", 'selected');
                                                             });
           if ($('#teacher_selectE option').length == 0)
             {
               if(!$('#teacher_selectE').hasClass("ng-pristine ng-invalid ng-invalid-required")){
                   $('#errorcheckE').addClass("has-error");
               $('#teacher_selectE').addClass("ng-pristine ng-invalid ng-invalid-required");
                $('#teacher_selectE').removeClass("ng-dirty ng-valid ng-valid-required ");
              }
             }
    });
</script>