<section class="content-header">
    <h1>
        <i class="fa fa-users"></i> {{phrase.students}}
    </h1>
</section>

<section class="content" ng-show="views.list">
    <a ng-if="userRole == 'admin'" ng-click="changeView('add')" class="floatRTL btn btn-success btn-flat pull-right marginBottom15 no-print">{{phrase.addStudent}}</a>
    <a ng-if="userRole == 'admin' || userRole == 'teacher'" ng-click="waitingApproval()" class="floatRTL btn btn-success btn-flat pull-right marginBottom15 no-print">{{phrase.waitingApproval}}</a>
    <div ng-if="userRole == 'admin'" class="btn-group pull-right no-print">
        <button type="button" class="btn btn-success btn-flat">{{phrase.Export}}</button>
        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{phrase.toggleDropdown}}</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="students/export">{{phrase.ExportExcel}}</a></li>
            <li><a href="students/exportpdf" target="_BLANK">{{phrase.ExportPDF}}</a></li>
        </ul>
    </div>
    <div ng-if="userRole == 'admin'" class="btn-group pull-right no-print">
        <button type="button" class="btn btn-success btn-flat">{{phrase.Import}}</button>
        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{phrase.toggleDropdown}}</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ng-click="import('excel')">{{phrase.ImportExcel}}</a></li>
        </ul>
    </div>
    <a ng-if="userRole == 'admin'" href="javascript:window.print()" class="btn btn-success btn-flat pull-right marginBottom15 no-print">{{phrase.Print}}</a>
     <a ng-if="userRole == 'admin'" ng-click="changeView('upload')" class="btn btn-success btn-flat pull-right marginBottom15 no-print">Upload Certificate</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.listStudents}}</h3>
            <div class="box-tools">
                <div class="input-group">
                    <input type="text" tooltip title="{{phrase.minCharLength3}}" name="table_search" ng-model="searchText" ng-change="searchDB()" placeholder="{{phrase.Search}}" class="form-control input-sm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
                <div>
                    <select class="form-control input-sm" ng-model="form.classId" name="classId" ng-change="searchDB(); subjectList();">
                        <option value="0">All Grades</option>
                        <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                    </select>
                </div>
                <div>
                    <select class="form-control input-sm" ng-model="form.sectionId" name="sectionId" ng-change="searchDB()">
                        <option value="0">All Classes</option>
                        <option ng-repeat="section in sections" value="{{section.id}}">{{section.sectionName}} </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>{{phrase.ID}}</th>
                        <th>{{phrase.FullName}}</th>
                        <th>{{phrase.username}}</th>
                        <th>{{phrase.email}}</th>
                        <th>{{phrase.class}} / Class</th>
                        <th class='no-print'>{{phrase.Operations}}</th>
                    </tr>
                    <tr dir-paginate="student in students | orderBy:'-studentClass' | itemsPerPage:20 " total-items="totalItems">
                        <td>{{student.studentRollId}}</td>
                        <td>
                            <!-- <img alt="{{student.fullName}}" class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{'dashboard/profileImage/' + student.id}}"> -->
                            <a href="" ng-click="studentProfile(student.id)">{{student.fullName}}</a>
                            <span ng-if="student.isLeaderBoard != ''"><br/><i class="fa fa-trophy"></i> {{phrase.leaderboard}} <a ng-click="removeLeaderBoard(student.id, $index)"><i class="fa fa-trash-o"></i></a></span>
                        </td>
                        <td>{{student.username}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.studentClass}} <br/> {{student.studentSection}}</td>
                        <td class='no-print'>
                            <a ng-click="attendance(student.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.Attendance}}" tooltip><i class="fa fa-eye"></i></a>
                            <a ng-click="marksheet(student.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.Marksheet}}" tooltip><i class="fa fa-table"></i></a>
                            <a ng-if="userRole == 'admin' && student.isLeaderBoard == ''" ng-click="leaderBoard(student.id, $index)" type="button" class="btn btn-info btn-flat" title="{{phrase.leaderboard}}" tooltip><i class="fa fa-trophy"></i></a>
                            <a ng-if="userRole == 'admin'" ng-click="edit(student.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.Edit}}" tooltip><i class="fa fa-pencil"></i></a>
                            <a ng-if="userRole == 'admin'" ng-click="remove(student, $index)" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr ng-show="!students.length">
                    <td class="noTableData" colspan="6">{{phrase.noStudents}}</td>
                    </tr>
                </tbody></table>
            <dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>
        </div>
    </div>
</section>

<section class="content" ng-show="views.marksheet">
    <h3> {{phrase.Marksheet}}</h3>
    <a ng-hide="isStudent" ng-click="changeView('list')" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">{{phrase.Return}}</a>

    <div ng-show="noMarksheet" class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.Marksheet}}</h3>
        </div>
        <div class="box-body table-responsive">
            {{phrase.studentHaveNoMarks}}
        </div>
    </div>

    <div class="box col-xs-12" ng-repeat="exam in studentMarksheet">
        <div class="box-header">
            <h3 class="box-title">{{exam.title}}</h3>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-bordered table-hover">
                <tbody><tr>
                        <th>{{phrase.Subject}}</th>
                        <th>{{phrase.attendanceMakrs}}</th>
                        <th>{{phrase.mark}}</th>
                        <th>{{phrase.Grade}}</th>
                        <th>{{phrase.passGrade}}</th>
                        <th>{{phrase.finalGrade}}</th>
                        <th>{{phrase.Status}}</th>
                        <th>{{phrase.Comments}}</th>
                    </tr>
                    <tr ng-repeat="dataOne in exam.data">
                        <td>{{dataOne.subjectName}}</td>
                        <td>{{dataOne.attendanceMark}}</td>
                        <td>{{dataOne.examMark}}</td>
                        <td>{{dataOne.grade}}</td>
                        <td>{{dataOne.passGrade}}</td>
                        <td>{{dataOne.finalGrade}}</td>
                        <td>{{dataOne.examState}}</td>
                        <td>{{dataOne.markComments}}</td>
                    </tr>
                </tbody></table>
            <br/>
            <a href="students/print/marksheet/{{exam.studentId}}/{{exam.examId}}" target="_BLANK" class="btn btn-info btn-flat pull-left marginBottom15">{{phrase.Print}}</a>
            <a class="btn btn-success btn-flat pull-right marginBottom15">{{phrase.examMarks}} : {{exam.totalMarks}}</a>
            <a class="btn btn-success btn-flat pull-right marginBottom15">{{phrase.AveragePoints}} : {{exam.pointsAvg}}</a>
        </div>
    </div>
</section>

<section class="content" ng-show="views.approval">
    <a ng-click="changeView('list')" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.waitingApproval}}</h3>
            <div class="box-tools">
                <div class="input-group pull-right">
                    <select class="form-control input-sm pull-right" ng-model="searchText.studentClass" style="width:150px;" >
                        <option value="">{{phrase.all}}</option>
                        <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                    </select>
                    <input type="text" name="table_search" ng-model="searchText" class="form-control input-sm pull-right" style="width: 150px;" placeholder="{{phrase.Search}}">
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover">
                <tbody><tr>
                        <th>{{phrase.ID}}</th>
                        <th>{{phrase.FullName}}</th>
                        <th>{{phrase.username}}</th>
                        <th>{{phrase.email}}</th>
                        <th>{{phrase.class}}</th>
                        <th>{{phrase.Operations}}</th>
                    </tr>
                    <tr ng-repeat="student in studentsApproval| filter:searchText">
                        <td>{{student.studentRollId}}</td>
                        <td>
                            <img alt="{{student.fullName}}" class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{'dashboard/profileImage/' + student.id}}">
                            <a href="" ng-click="studentProfile(student.id)">{{student.fullName}}</a>
                        </td>
                        <td>{{student.username}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.studentClass}} <br/> {{student.studentSection}}</td>
                        <td>
                            <a ng-click="approve(student.id)" type="button" class="btn btn-success btn-flat" title="{{phrase.Approve}}" tooltip><i class="fa fa-check-square-o"></i></a>
                            <a ng-click="edit(student.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.Edit}}" tooltip><i class="fa fa-pencil"></i></a>
                            <a ng-click="remove(student, $index)" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                </tbody></table>
        </div>
    </div>
</section>

<section class="content" ng-show="views.add">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelAdd}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.addStudent}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" ng-upload="saveAdd(content)" method="post" action="students" name="addAdmin" role="form" novalidate>
                <div class="form-group" ng-class="{'has-error': addAdmin.username.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.username}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="username" ng-model="form.username" class="form-control" required placeholder="{{phrase.username}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addAdmin.fullName.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.FullName}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="fullName" ng-model="form.fullName" class="form-control" required placeholder="{{phrase.FullName}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.rollid}} </label>
                    <div class="col-sm-10">
                        <input type="text" name="studentRollId" ng-model="form.studentRollId" class="form-control" placeholder="{{phrase.rollid}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addAdmin.password.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.password}} *</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" ng-model="form.password" class="form-control" required placeholder="{{phrase.password}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Birthday}}</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="birthday" ng-model="form.birthday" class="form-control datemask">
                    </div>
                </div>
                <div date-picker selector=".datemask" ></div>
                <div class="form-group" >
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.email}} </label>
                    <div class="col-sm-10">
                        <input type="email" name="email" ng-model="form.email" class="form-control" placeholder="{{phrase.email}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.second_lang}}</label>
                    <div class="col-sm-10">

                        <div class="radio">
                            <label>
                                <input type="radio" name="second_lang" value="french" ng-model="form.second_lang" checked="checked">
                                {{phrase.french}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="second_lang" value="german" ng-model="form.second_lang">
                                {{phrase.german}}
                            </label>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Gender}}</label>
                    <div class="col-sm-10">

                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" value="male" ng-model="form.gender" checked="checked">
                                {{phrase.Male}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" value="female" ng-model="form.gender">
                                {{phrase.Female}}
                            </label>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Address}}</label>
                    <div class="col-sm-10">
                        <input type="text" name="address" class="form-control" ng-model="form.address" placeholder="{{phrase.Address}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.phoneNo}}</label>
                    <div class="col-sm-10">
                        <input type="text" name="phoneNo" class="form-control" ng-model="form.phoneNo" placeholder="{{phrase.phoneNo}}" international-phone-number>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addAdmin.mobileNo.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.mobileNo}}</label>
                    <div class="col-sm-10">
                        <input type="text"  name="mobileNo" class="form-control mobilenumber" ng-model="form.mobileNo" >
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addAdmin.classId.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="studentClass" ng-model="form.classId" required ng-change="subjectList()">
                            <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addAdmin.studentSection.$invalid}" >
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.section}} *</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.studentSection" required name="studentSection">
                            <option ng-repeat="section in sections" value="{{section.id}}">{{section.sectionName}} </option>
                        </select>
                    </div>
                </div>
                <!--        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Transportation}}</label>
                          <div class="col-sm-10">
                            <select class="form-control" name="transport" ng-model="form.transport" >
                              <option ng-repeat="transport in transports" value="{{transport.id}}">{{transport.transportTitle}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Hostel}}</label>
                          <div class="col-sm-10">
                            <select class="form-control" name="hostel" ng-model="form.hostel" >
                              <option ng-repeat="(key,value) in hostel" value="{{key}}">{{value}}</option>
                            </select>
                          </div>
                        </div>-->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Photo}}</label>
                    <div class="col-sm-10">
                        <input type="file" name="photo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                        <button type="submit" class="btn btn-default" ng-disabled="addAdmin.$invalid || $isUploading">{{phrase.addStudent}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content" ng-show="views.edit">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelEdit}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.editStudent}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" name="editDorm" role="form" ng-upload="saveEdit(content)" method="post" action="{{'students/' + form.id}}" novalidate>
                <div class="form-group" ng-class="{'has-error': addAdmin.username.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.username}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="username" ng-model="form.username" class="form-control" required placeholder="{{phrase.username}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addAdmin.fullName.$invalid}">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.FullName}} * </label>
                    <div class="col-sm-10">
                        <input type="text" name="fullName" ng-model="form.fullName" class="form-control" required placeholder="{{phrase.FullName}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{phrase.rollid}} </label>
                    <div class="col-sm-10">
                        <input type="text" name="studentRollId" ng-model="form.studentRollId" class="form-control" placeholder="{{phrase.rollid}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.password}} *</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" ng-model="form.password" class="form-control" placeholder="{{phrase.password}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Birthday}}</label>
                    <div class="col-sm-10">
                        <input type="text" id="datemask" name="birthday" ng-model="form.birthday" class="form-control datemask">
                    </div>
                </div>
                <div class="form-group" >
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.email}} *</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" ng-model="form.email" class="form-control" placeholder="{{phrase.email}}" >
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.second_lang}}</label>
                    <div class="col-sm-10">

                        <div class="radio">
                            <label>
                                <input type="radio" name="second_lang" value="french" ng-model="form.second_lang" checked="checked">
                                {{phrase.french}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="second_lang" value="german" ng-model="form.second_lang">
                                {{phrase.german}}
                            </label>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Gender}}</label>
                    <div class="col-sm-10">

                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" value="male" ng-model="form.gender" checked="checked">
                                {{phrase.Male}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" value="female" ng-model="form.gender">
                                {{phrase.Female}}
                            </label>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Address}}</label>
                    <div class="col-sm-10">
                        <input type="text" name="address" class="form-control" ng-model="form.address" placeholder="{{phrase.Address}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.phoneNo}}</label>
                    <div class="col-sm-10">
                        <input type="text" name="phoneNo" class="form-control" ng-model="form.phoneNo" placeholder="{{phrase.phoneNo}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': editDorm.mobileNo.$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.mobileNo}}</label>
                    <div class="col-sm-10">
                        <input  type="text" name="mobileNo" class="form-control mobilenumber" ng-model="form.mobileNo" value="{{form.mobileNo}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': addAdmin['academicYear[]'].$invalid}">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.class}}</label>
                    <div class="col-sm-10">
                        <table class="table table-bordered">
                            <tr>
                                <th>{{phrase.academicyears}}</th>
                                <th>{{phrase.class}}</th>
                                <th>{{phrase.section}}</th>
                                <th>{{phrase.Remove}}</th>
                            </tr>
                            <tr ng-repeat="(key, value) in form.studentAcademicYears">
                                <td>
                                    {{form.academicYear[value.id]}}
                                    <span ng-show="value.default == form.studentClass">*</span>
                                </td>
                                <td>
                                    <select class="form-control" name="academicYear[{{value.id}}]" ng-model="selectedClass" ng-init="selectedClass = value.default" required>
                                        <option ng-repeat="class in value.classSections.classes" value="{{class.id}}" ng-selected="class.id == value.default">{{class.className}}</option>
                                    </select>
                                    {{class.className}}
                                </td>
                                <td >
                                    <select class="form-control" name="userSection[{{value.id}}]" required>
                                        <option ng-repeat="section in value.classSections.sections[selectedClass]" value="{{section.id}}" ng-selected="section.id == value.defSection"> {{section.sectionName}}</option>
                                    </select>
                                    <!--{{section.sectionName}} - {{section.sectionTitle}}-->
                                </td>
                                <td>
                                    <a ng-show="value.default == form.studentClass" ng-disabled="true" ng-click="alert('You cannot delete current default academic year')" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a>
                                    <a ng-show="value.default != form.studentClass" ng-click="removeStAcYear(form.id, value.id, $index)" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Transportation}}</label>
                          <div class="col-sm-10">
                            <select class="form-control" name="transport" ng-model="form.transport" >
                              <option ng-repeat="transport in transports" value="{{transport.id}}">{{transport.transportTitle}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label">Hostel</label>
                          <div class="col-sm-10">
                            <select class="form-control" name="hostel" ng-model="form.hostel" >
                              <option ng-repeat="(key,value) in hostel" value="{{key}}">{{value}}</option>
                            </select>
                          </div>
                        </div>-->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.Photo}}</label>
                    <div class="col-sm-10">
                        <input type="file" name="photo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                        <button type="submit" class="btn btn-default" ng-disabled="editDorm.$invalid || $isUploading">{{phrase.editStudent}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content" ng-show="views.attendance">
    <a ng-click="changeView('list')" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">{{phrase.Return}}</a>

    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.attendanceStats}}</h3>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-bordered">
                <tbody><tr>
                        <th>{{phrase.Date}}</th>
                        <th ng-show="studentAttendance.attendanceModel == 'subject'">{{phrase.Subject}}</th>
                        <th>{{phrase.Attendance}}</th>
                    </tr>
                    <tr ng-repeat="(key, value) in studentAttendance.attendance">
                        <td>{{value.date * 1000| date:$root.angDateFormat}}</td>
                        <td ng-show="studentAttendance.attendanceModel == 'subject'">{{studentAttendance.subjects[value.subjectId]}}</td>
                        <td>
                            <div>
                                <span ng-show="value.status == '0'">{{phrase.Absent}}</span>
                                <span ng-show="value.status == '1'">{{phrase.Present}}</span>
                                <span ng-show="value.status == '2'">{{phrase.Late}}</span>
                                <span ng-show="value.status == '3'">{{phrase.LateExecuse}}</span>
                                <span ng-show="value.status == '4'">{{phrase.earlyDismissal}}</span>
                                <span ng-show="value.status == '9'">{{phrase.acceptedVacation}}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="content" ng-show="views.import">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.Import}} {{importType}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" ng-upload="saveImported(content)" method="post" action="{{'students/import/' + importType}}" name="importData" role="form" novalidate>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.fileToImport}}</label>
                    <div class="col-sm-10">
                        <input type="file" name="excelcsv">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                        <button type="submit" class="btn btn-default" ng-disabled="importData.$invalid || $isUploading">{{phrase.Import}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content" ng-show="views.reviewImport">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.Import}} {{importType}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" ng-submit="reviewImportData()" name="importData" role="form" novalidate>

                <h4>{{phrase.failedImport}}</h4>
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <tbody><tr>
                                <th>{{phrase.FullName}}</th>
                                <th>{{phrase.username}}</th>
                                <th>{{phrase.email}}</th>
                                <th>{{phrase.class}}</th>
                                <th>Section</th>
                                <th>{{phrase.password}}</th>
                                <td> </td>
                            </tr>
                            <tr ng-repeat="student in importReview.revise">
                                <td>{{student.fullName}}</td>
                                <td ng-class="{'has-error': student.error.indexOf('username', 0) != - 1}"><input type="text" name="username" class="form-control mobilenumber" ng-model="student.username"></td>
                                <td ng-class="{'has-error': student.error.indexOf('email', 0) != - 1}"><input type="text" name="email" class="form-control mobilenumber" ng-model="student.email"></td>
                                <td ng-class="{'has-error': student.error.indexOf('class', 0) != - 1}">
                                    <select class="form-control" name="studentClass" ng-model="student.studentClass" required>
                                        <option ng-repeat="class in classes" value="{{class.id}}" ng-selected="student.studentClass == class.id">{{class.className}}</option>
                                    </select>
                                    <!--{{class.className}}-->
                                </td>
                                <td ng-class="{'has-error': student.error.indexOf('class', 0) != - 1}" >
                                    <select class="form-control" name="studentSection" ng-model="student.studentSection" required>
                                        <option ng-repeat="(key, value) in importSections[student.studentClass]" value="{{key}}" ng-selected="student.studentSection == key">{{value}}</option>
                                    </select>
                                </td>
                                <td><input type="password" name="password" class="form-control mobilenumber" ng-model="student.password"></td>
                                <td><a ng-click="removeImport(student, $index, 'revise')" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr ng-show="!importReview.revise.length"><td class="noTableData" colspan="6">{{phrase.noStudents}}</td></tr>
                        </tbody></table>
                </div>

                <h4>{{phrase.readyImport}}</h4>
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <tbody><tr>
                                <th>{{phrase.FullName}}</th>
                                <th>{{phrase.username}}</th>
                                <th>{{phrase.email}}</th>
                                <th>{{phrase.class}}</th>
                                <th>Section</th>
                                <th>{{phrase.password}}</th>
                                <td> </td>
                            </tr>
                            <tr ng-repeat="student in importReview.ready">
                                <td>{{student.fullName}}</td>
                                <td><input type="text" name="username" class="form-control mobilenumber" ng-model="student.username"></td>
                                <td><input type="text" name="email" class="form-control mobilenumber" ng-model="student.email"></td>
                                <td>
                                    <!--<input type="text" name="email" class="form-control mobilenumber"  disabled="disabled" ng-model="student.studentClass" value="{{student.studentClass}}">-->
                                    <!--<input type="text" name="studentClass" class="form-control mobilenumber" ng-model="student.studentClass"></td>-->
                                    <select class="form-control" name="studentClass" ng-model="student.studentClass" required>
                                        <option ng-repeat="class in classes" value="{{class.id}}" ng-selected="student.studentClass == class.id">{{class.className}}</option>
<!--                                        <option ng-repeat="clas in importClasses" value="{{clas}}" ng-selected="student.studentClass == clas">{{clas}}</option>
                                        <option ng-repeat="class in importClasses" value="{{studentClassSelected}}" ng-selected="studentClass == class.id">{{class.className}}</option>-->
                                        <!--<option  value="{{student.class}}">{{student.studentClass}}</option>-->
                                    </select>
                                    <!--{{student.studentClass}}-->
                                </td>
                                <td ng-class="{'has-error': student.error.indexOf('class', 0) != - 1}" >
                                    <select class="form-control" name="studentSection" ng-model="student.studentSection" required>
                                        <!--<option ng-repeat="(key, value) in importSections[student.studentSection]" value="{{key}}" ng-selected="student.studentSection == key">{{value}}</option>-->
                                        <option  value="{{student.studentSection}}" ng-selected="student.studentClass == student.studentClass">{{student.section}}</option>
                                    </select>
                                </td>
                                <td><input type="password" name="password" class="form-control mobilenumber" ng-model="student.password"></td>
                                <td><a ng-click="removeImport(student, $index, 'ready')" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr ng-show="!importReview.ready.length"><td class="noTableData" colspan="6">{{phrase.noStudents}}</td></tr>
                        </tbody></table>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">{{phrase.Import}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<section class="content" ng-show="views.upload">
    <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.Return}}</a>
    <div class="box col-xs-12">
        <div class="box-header">
            <h3 class="box-title">{{phrase.Import}} {{importType}}</h3>
        </div>
        <div class="box-body table-responsive">
            <form class="form-horizontal" ng-upload="uploadImported()" method="post"  name="importData" role="form" novalidate>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">{{phrase.fileToImport}}</label>
                    <div class="col-sm-10">
                        <input type="file" name="uploadpdf">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                        <button type="submit" class="btn btn-default" ng-disabled="importData.$invalid || $isUploading">{{phrase.Import}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<modal visible="showModal"><div ng-bind-html="modalContent"></div></modal>
